<style>
  .icon_image_centering {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .phone_user_icons{
    vertical-align: -50%;
    height:50px;width:50px;
    display: inline-block;
  }
</style>

<div class="spn_hol">
  <div class="spinner2">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<!-- END PRELOADER -->

<!-- =========================
 START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to image_tag("logo.png", width: "140"), "http://www.megatrend.com", target: '_blank', class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- NAV -->
              <!-- NAV -->
              <li><a href="#HOME">HOME</a> </li>
              <li><a href="#ABOUT"><%= t(".about") %></a> </li>
              <li><a href="#PACKAGE"><%= t(".packages") %></a></li>
              <li><a href="#PRICES"><%= t(".trial_price") %></a> </li>
              <li><a href="#CONTACT"><%= t(".contact") %></a> </li>
            <% if user_signed_in? %>
            <li><%= link_to t(".sign_out"), destroy_user_session_path %></li>
            <% else %>
            <li><a href="#REGISTER"><%= t(".sign_in") %></a> </li>
            <% end %>
            <!-- ukljuci kada dode ENG prijevod -->
            <% if I18n.locale == :hr %>
            <li><%= link_to "EN ", locale: "en" %></li>
            <% else %>
            <li><%= link_to "HR ", locale: "hr" %></li>
            <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container- -->
    </nav>
    <% if notice %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= notice %></div>
        </div>
    <% elsif alert %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-danger" role="alert"><%= alert %></div>
        </div>
    <% end %>
    <div class="container home-container">

      <div class="row">
        <div class="col-md-12">

          <div class="logo text-center">
            <!-- LOGO -->
            <%= image_tag("logo.png") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="home_text">
            <!-- TITLE AND DESC -->
            <h1><%= t(".home.title") %></h1>
            <p><%= t(".home.text") %></p>

            <div class="download-btn">
              <!-- BUTTON -->
              <a class="btn home-btn wow fadeInLeft" href="#PACKAGE"><%= t(".start_trial") %></a>
              <a class="tuor btn wow fadeInRight" href="#ABOUT"><%= t(".tour") %><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
          <div class="home-iphone">
            <%= image_tag("maaslogo_type.png", :alt => "MaaS360") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-sm-offset-8 col-md-4 col-sm-4">
        <div class="home_text">
          <!-- TITLE AND DESC -->
          <p>* <%= t(".home.footer") %></p>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- END HEADER SECTION -->




<!-- =========================
 START ABOUT US SECTION
============================== -->


<section class="about page" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title">
          <h2><%= t(".about_section.title") %></h2>
          <p><%= t(".about_section.texts.about_main") %>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering"><%= image_tag('iconsIBM/benefits--svg.svg', alt: "MaaS360", style: 'width: 70px;' ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis" > <%= t(".about_section.first") %></h2>
          <p class="paragraf" ><%= t(".about_section.texts.first") %></p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (1).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> <%= t(".about_section.second") %></h2>
          <p class="paragraf"><%= t(".about_section.texts.second") %></p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (2).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> <%= t(".about_section.third") %></h2>
          <p class="paragraf"><%= t(".about_section.texts.third") %></p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (3).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> <%= t(".about_section.fourth") %></h2>
          <p class="paragraf"><%= t(".about_section.texts.fourth") %></p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (4).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> <%= t(".about_section.fifth") %></h2>
          <p class="paragraf"><%= t(".about_section.texts.fifth") %></p>

        </div>
      </div>

    </div>
    <div class="margin-btm row">

      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title" style="padding-top:50px; padding-bottom: 10px;">
          <h2><%= t(".about_section.key_features.title") %></h2>
          <p>
          </p>
        </div>


      </div>
      <div class="col-md-6 col-sm-6">
        <div class="section_title_feature" style="padding-top:0; padding-bottom:20px;">
          <!-- TITLE AND DESC -->
          <ul class="paragraf2 key"> <li><%= t(".about_section.key_features.first") %></li> <li>
            <%= t(".about_section.key_features.third") %></li> <li>
            <%= t(".about_section.key_features.fifth") %></li> <li>

            <%= t(".about_section.key_features.seventh") %></li>
          </ul>

        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="section_title_feature" style="padding-top:0; padding-bottom:20px; ">
          <!-- TITLE AND DESC -->
          <ul class="paragraf2 key"> <li><%= t(".about_section.key_features.second") %></li> <li>
            <%= t(".about_section.key_features.fourth") %>
          </li> <li><%= t(".about_section.key_features.sixth") %></li> <li>
            <%= t(".about_section.key_features.eight") %> </li>
          </ul>

        </div>
      </div>

    </div>
  </div>


</section>
<!-- End About Us -->

<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break_user") %></p>
      </div>
      <div class="col-md-3">
        <a href="#PRICES" class="btn btn-primary btn-action"><%= t(".trial") %></a>
      </div>
      <% else %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break") %></p>
      </div>
      <div class="col-md-3">
        <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->





<!-- =========================
 START FEATURES
============================== -->
<section id="PACKAGE" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2><%= t(".package.title") %> </h2>
        </div>
        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>


  <div class="container">

    <div class="pricing-container">

      <ul class="pricing-list bounce-invert">
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Essentials</h2>
                <div class="opis">
                  <p><%= t(".package.essentials.first") %></p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li style="<%= "margin-bottom: 11px;" if I18n.locale == :hr %>">Mobile Device Management* </li>
                  <li>Mobile App Management*</li>
                  <li>Patch and Update Management</li>
                  <li>Identity Management</li>
                  <li>Advisor</li>
                  <li>Container App</li>
                  <li>Expense Management</li>
                  <li><span style="font-size: 12px;">*iOS/Android/ Windows/macOS</span></li>
                </ul>
              </div>

            </li>

          </ul>
        </li>
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Deluxe</h2>
                <div class="opis">
                  <p><%= t(".package.deluxe.first") %></p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><%= t(".package.deluxe.second") %></li>
                  <li>Secure Mobile Mail</li>
                  <li>Secure Mobile Chat</li>
                  <li> </li>
                  <li></li>
                  <li> </li>
                  <li> </li>
                  <li> </li>

                </ul>
              </div>
            </li>

          </ul>
        </li>
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Premier</h2>
                <div class="opis">
                  <p><%= t(".package.premier.first") %></p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><%= t(".package.premier.second") %></li>
                  <li>OS VPN</li>
                  <li>Secure Browser</li>
                  <li> Gateway for Browser</li>
                  <li>Content Management</li>
                  <li> Gateway for Documents</li>
                  <li> Application Security</li>
                  <li> Gateway for Apps</li>
                </ul>
              </div>
            </li>

          </ul>
        </li>

        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Enterprise</h2>
                <div class="opis">
                  <p><%= t(".package.enterprise.first") %></p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><%= t(".package.enterprise.second") %></li>
                  <li>Mobile Document Editor</li>
                  <li>Mobile Document Sync</li>
                  <li>Mobile Threat Management</li>
                  <li></li>
                  <li> </li>
                  <li> </li>
                  <li></li>
                </ul>
              </div>
            </li>

          </ul>
        </li>
      </ul>

      <footer class="pricing-footer">
        <a class="select_price" href="https://m2.maas360.com/tryMDM/SK_MEGATREN02_MDM_C" target="_blank"><%= t(".free_trial") %></a>
      </footer>

      <p><%= t(".package.footer") %> <br> &nbsp;&nbsp;
        <a href="https://www.ibm.com/in-en/marketplace/mobile-device-management" target="_blank">www.ibm.com/in-en/marketplace/mobile-device-management</a></p>
    </div>


  </div>

</section>
<!-- END FEATURES SECTION -->



<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break_user") %></p>
          </div>
          <div class="col-md-3">
            <a href="#PRICES" class="btn btn-primary btn-action"><%= t(".trial") %></a>
          </div>
      <% else %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break") %></p>
          </div>
          <div class="col-md-3">
            <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->

<!-- =========================
 START KALKULATOR - ovo se prikazuje ako je korisnik logiran
============================== -->
  <!-- =========================
   START SIGNIN SIGNUP - ovo se prikazuje ako je korisnik nije logiran
  ============================== -->

  <section id="PRICES" class="features page">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- FEATURES SECTION TITLE -->
          <div class="section_title wow fadeIn" data-wow-duration="1s">
            <h2><%= t(".calculator.title") %> </h2>
            <p><%= t(".calculator.texts.first") %> <br><%= t(".calculator.texts.second") %> <br> <br>
              <%= t(".calculator.texts.third") %>
            </p>

          </div>
          <div class="centered">

            <a class="btn btn-primary btn-action" href="#PACKAGE" role="button"><%= t(".free_trial") %></a>


          </div>
          <!-- END FEATURES SECTION TITLE -->
        </div>
      </div>
    </div>

    <!-- =========================
     ovo se prikazuje ako je korisnik logiran
    ============================== -->
    <% if current_user %>
    <%= simple_form_for(:users_service, :url => calculator_services_path, :method => :post) do |f| %>
    <div class="container" id="CALCULATOR_FLASH">
      <div class="row margin">
        <% if calc_alert %>
            <div class="container" style="padding-top: 10px;">
              <div class="alert alert-danger" role="alert"><%= calc_alert %></div>
            </div>
        <% elsif calc_success %>
            <div class="container" style="padding-top: 10px;">
              <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= calc_success %></div>
            </div>
        <% end %>

        <div class="col-md-8">
          <!--  <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft " data-wow-duration="1s">

                    <div class="kalkulator ">
                        <h3>Veam license<span> :</span></h3>
                        <div class="dropdown">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                                User Type <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="license" >
                                <li><a value="0">Veeam user</a></li>
                                <li><a value="40">non Veeam user</a></li>
                            </ul>
                        </div>
                    </div>


                </div>


                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">


                    <div class="kalkulator ">
                        <h3>Service<span> :</span></h3>
                        <div class="dropdown ">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                                Service Type <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="service" >
                                <li><a space="500" vm="5" value="120">BUaaS</a></li>
                                <li><a space="1000" vm="5" value="250">DRaaS</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">


                    <div class="kalkulator ">
                        <h3>PLATFORM<span> :</span></h3>
                        <div class="dropdown ">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                                Platform <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="platform">
                                <li><a value="0">VMware</a></li>
                                <li><a value="0">HyperV</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
          -->  <div class="row">

          <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft " data-wow-duration="1s">

            <div class="kalkulator ">
              <h3>1x</h3><%= image_tag('smartphone.svg', class: 'phone_user_icons', alt: 'user') %>
              <h3>=</h3> <div style="display: inline-block; margin: 0 5px;">
              <div  class="input-group spinner" data-trigger="spinner" id="spinner">
                <%= f.input :one_mobile, label: false, wrapper: false,id: 'extraVm',input_html: {min: '0', value: session[:single_mobile_session] ? session[:single_mobile_session] : '0', class: 'form-control text-center', onchange: 'setSingle()'}, data: { rule: 'quantity'} %>

              </div>
            </div><%= image_tag('user.svg', class: 'phone_user_icons', alt: 'user') %>


              <div style="margin-top: -10px; font-size: 14px;"><%= t(".calculator.registered.first") %></div>
            </div>

            <!-- END SINGLE FEATURE -->

          </div>

        </div>
        </div>
        <div class="col-md-8">
          <div class="row">




            <div style="z-index:1;" class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft" data-wow-duration="1s">


              <div class="kalkulator ">
                <h3> &gt;1 </h3><%= image_tag('smartphone.svg', class: 'phone_user_icons', alt: 'user') %>
                <h3>=</h3>  <div style="display: inline-block; margin: 0 5px;">
                <div class="input-group spinner" data-trigger="spinner" id="spinner2">
                  <%= f.input :multiple_mobile, label: false, wrapper: false,id: 'extraRam',input_html: {min: '0', value: session[:multiple_mobile_session] ? session[:multiple_mobile_session] : '0', class: 'form-control text-center', onchange: 'setMultiple()'}, data: { rule: 'quantity'} %>

                </div>  </div><%= image_tag('user.svg', class: 'phone_user_icons', alt: 'user') %>



              </div>
              <div style="margin-top: -10px; font-size: 14px;"><%= t(".calculator.registered.second") %></div>

            </div>



          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft " data-wow-duration="1s">

              <div class="kalkulator ">
                <h3 style="font-size: 26px;"><%= t(".calculator.registered.third") %>:</h3>

                <div style="display: inline-block; margin-left: 20px; ">
                  <div class="dropdown">
                  <%= f.input :package, collection: ["Essentials", "Deluxe", "Premier", "Enterprise"], label: false,include_blank: false, include_hidden: false , prompt: t(".calculator.registered.third"),
                              selected: session[:package_session] ? session[:package_session] : t(".calculator.registered.third"), input_html: {style: 'width: 150px; height: 45px;', onchange: 'setPaket()'}, id: 'choosePaket' %>
                  </div>

                </div>
              </div>


            </div>

          </div>

        </div>
        <div class="spec_margin col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <div class="price">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3> <span id="cijena">0.00</span> <%= t(".calculator.result.currency") %></h3>
            <p class="calc_info"> <%= t(".calculator.result.text_includes") %>
              <br>
              <b><span style="font-size: 18px;" id="single">0 </span> </b><%= t(".calculator.result.first") %>

              <br>
              <b><span style="font-size: 18px;" id="multiple">0</span> </b> <%= t(".calculator.result.second") %>  <br>
              <b><span style="font-size: 18px;" id="paket">-------</span></b>  <%= t(".calculator.result.third") %> <br></p>
            <!-- <p class="calc_disclaimer">
               Izračun vrijedi za korisnike koji koriste komercijalnu <b>Veeam “Backup & Replication”</b> licencu.
             </p>-->
            <!--<p class="calc_disclaimer">
              Porez na dodanu vrijednost nije uključen u cijenu već se obračunava po važećoj stopi na dan izdavanja računa.
            </p>-->
          </div>

          <!-- END SINGLE FEATURE -->
          <div class="centered">
            <%= f.button :submit, t(".calculator.result.send") ,class:'btn home-btn wow fadeInLeft', style: I18n.locale == :hr ? "margin-left: 8px;" : "margin-left: 5px;" %>
          </div>
          <div class="pull-right">
            <%= link_to t(".calculator.download_terms"), general_conditions_download_services_path %>
          </div>
        </div>

      </div>
    </div>
            <% end %>
    <% end %>

  </section>
<!-- =========================
 KRAJ KALKULATORA
============================== -->
<% if !user_signed_in? %>
    <section id="REGISTER" class="features page" style="padding-top: 45px">
      <div class="container" >
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- FEATURES SECTION TITLE -->
            <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top: 50px;">
              <h2><%= t(".calculator.unregistered.title") %></h2>
              <p><%= t(".calculator.unregistered.text") %></p>
            </div>

            <div class="centered margin-btm">

              <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary btn-action" %>
              <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary btn-action " %>

            </div>
            <!-- END FEATURES SECTION TITLE -->
          </div>
        </div>
      </div>

    </section>
    <!-- END SIGNIN SIGNUP SECTION -->

<!-- END KALKULATOR SECTION -->
<section class="features page" style="padding-bottom: 15px;">
  <div class="container" style="height: 50px;">
    <div class="pull-right">
      <%= link_to t(".calculator.download_terms"), general_conditions_download_services_path %>
    </div>
  </div>
</section>
<% end %>
<!-- =========================
 START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
  <div class="section_overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 wow bounceIn">
        <!-- Start Contact Section Title-->
        <div class="section_title">
          <h2><%= t(".get_in_touch") %></h2>
          <p><%= t(".contact_text_first") %></br>
          <%= t(".contact_text_second") %></p>
        </div>
      </div>
    </div>

    <div class="contact_form wow bounceIn">
      <div class="container">

        <!-- START ERROR AND SUCCESS MESSAGE -->
        <div class="form_error text-center">
          <div class="name_error hide error"><%= t(".contact_errors.enter_name") %></div>
          <div class="email_error hide error"><%= t(".contact_errors.enter_email") %></div>
          <div class="email_val_error hide error"><%= t(".contact_errors.enter_valid_email") %></div>
          <div class="message_error hide error"><%= t(".contact_errors.enter_message") %></div>
        </div>
        <div class="Sucess"></div>
        <!-- END ERROR AND SUCCESS MESSAGE -->

        <!-- FORM -->
        <%= simple_form_for(:email_form, url: contact_us_services_path ,class: "form-control") do |f|%>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :name,label:false, input_html: {class: "form-control", id: "name"}, required: true, placeholder: t(".contact_us_name") %>
              <%= f.input :email,label:false, input_html: {class: "form-control", id: "email"},required: true , placeholder: t(".contact_us_email")%>
              <%= f.input :subject,label:false, input_html: {class: "form-control", id: "subject"},required: true, placeholder: t(".contact_us_subject") %>
            </div>


            <div class="col-md-8">
              <%= f.input :body ,required: true, label: false, input_html: { id: "message", rows: "25", cols: "10", class: "form-control"}, placeholder: t(".contact_us_body"), :as => :text %>
              <%= f.button :submit, t(".contact_us_send"), class: "btn btn-default submit-btn", id: 'submit_contact_button' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <% unless flash[:recaptcha_error].nil? %>
                <div class="alert alert-danger" role="alert"><%= flash[:recaptcha_error] %></div>
              <% end %>
              <%= recaptcha_tags callback: 'enableBtn' %>
            </div>
          </div>
        <% end %>
        <!-- END FORM -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInLeft">
          <div class="social_icons">
            <ul>
              <li><a href="https://www.facebook.com/mprdoo" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/megatrend" target="_blank"><i class="fa fa-linkedin"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->


<!-- =========================
 FOOTER
============================== -->

<section class="copyright">
  <h2></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copy_right_text">
          <!-- COPYRIGHT TEXT -->
          <p>Copyright &copy; 2017.</p>
          <p><a href="http://www.megatrend.com/" target="_blank">Megatrend Poslovna Rješenja</a></p>
          <p><% if user_signed_in? %>
                <% if current_user.admin? %>
                    <%= link_to "Admin", admin_root_path %>
                <% end %>
            <% end %></p>
        </div>

      </div>

      <div class="col-md-6">
        <div class="scroll_top">
          <a href="#HOME"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->


<!--Registration Form dialog-->

<!--Registration Form dialog end -->

<!--Login Form dialog-->



<!--Free trial confirm box-->
            <div class="closewnd modal fade" id="FreeTrialConfirmForm" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content -->

                <div class="modal-content">
                  <% if user_signed_in? %>
                      <form action="" class="sky-form">
                          <header><%= t(".free_trial_confirm") %></header>

                          <fieldset>
                            <section>
                              <div class="row">
                                <div class="col col-10">
                                  <%= link_to t(".free_trial_yes"), free_trial_path, class: "button" %>
                                </div>
                                <div class="col col-2"%>
                                  <button type="button" class="button" data-dismiss="modal"><%= t(".free_trial_no") %></button>
                                </div>
                              </div>
                            </section>


                          </fieldset>
                      </form>

                  <% end %>
                </div>

              </div>
            </div>

<script>

    $('body').on('keydown', 'input, select, textarea', function(e) {
        var self = $(this)
            , form = self.parents('form:eq(0)')
            , focusable
            , next
            ;
        if (e.keyCode == 13) {
            focusable = form.find('input,select').filter(':visible');
            next = focusable.eq(focusable.index(this)+1);
            if (next.length) {
                next.focus();
            } else {
                form.submit();
            }
            return false;
        }
    });

    var suite = "";
    var single_device = 0;
    var multiple_devices = 0;
    var price_single = 0.00;
    var price_multiple = 0.00;

    document.getElementById("submit_contact_button").disabled = true;

    window.onload = setMultiple();
    window.onload = setSingle();
    window.onload = setPaket();

    function enableBtn(){
        document.getElementById("submit_contact_button").disabled = false;
    }

    function setMultiple(){
        var mult = document.getElementById("users_service_multiple_mobile").value;
        document.getElementById("multiple").innerHTML = parseInt(mult);
        multiple_devices = parseInt(mult);
        calculateTotalPrice();
    }

    function setSingle(){
        var sing = document.getElementById("users_service_one_mobile").value;
        document.getElementById("single").innerHTML = parseInt(sing);
        single_device = parseInt(sing);
        calculateTotalPrice();
    }

    function setMultiplePlus(){
        var mult = document.getElementById("users_service_multiple_mobile").value;
        document.getElementById("multiple").innerHTML = parseInt(mult)+1;
        multiple_devices = parseInt(mult)+1;
        calculateTotalPrice();
    }

    function setMultipleMinus(){
        var mult = document.getElementById("users_service_multiple_mobile").value;
        if(parseInt(mult)-1 >= 0){
            document.getElementById("multiple").innerHTML = parseInt(mult)-1;
            multiple_devices = parseInt(mult)-1;
            calculateTotalPrice();
        }
    }

    function setSinglePlus(){
        var sing = document.getElementById("users_service_one_mobile").value;
        document.getElementById("single").innerHTML = parseInt(sing)+1;
        single_device = parseInt(sing)+1;
        calculateTotalPrice();
    }

    function setSingleMinus(){
        var sing = document.getElementById("users_service_one_mobile").value;
        if(parseInt(sing)-1 >= 0){
            document.getElementById("single").innerHTML = parseInt(sing)-1;
            single_device = parseInt(sing)-1;
            calculateTotalPrice();
        }

    }

    function setPaket(){
        var paket = document.getElementById("users_service_package").value;

        if(paket) {
            document.getElementById("paket").innerHTML = paket;
            suite = paket;
        }
        else {
            document.getElementById("paket").innerHTML = "-------";
            suite = "";
        }
        setPriceByPackage();
    }

    function setPriceByPackage(){
      if( suite.indexOf("Essentials") != -1){
        price_single = 2.89;
        price_multiple = 5.79;
      }else if(suite.indexOf("Deluxe") != -1){
        price_single = 4.82;
        price_multiple = 9.65;
      }else if(suite.indexOf("Premier") != -1){
        price_single = 6.03;
        price_multiple = 12.06;
      }else if(suite.indexOf("Enterprise") != -1){
        price_single = 8.68;
        price_multiple = 17.37;
      }else{
        price_single = 0.00;
        price_multiple = 0.00;
      }
      calculateTotalPrice();
    }

    function calculateTotalPrice(){
      var total_price = 0.00;
      total_price = (price_single.toFixed(2)*single_device)+(price_multiple.toFixed(2)*multiple_devices);
      document.getElementById("cijena").innerHTML = total_price.toFixed(2);
    }

  //KALKULATOR SELECT VALUE
  var License=0;
  var Service=0;
  var Platform=0;
  var ExtraVm=0;
  var ExtraGb=0;
  var Space=0;
  var Vm=0;
  var AddSpace=0;
  var AddVm=0;
  var TempText = "";

  $(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    TempText = selText
    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });

  $("#license li a").click(function(){
    License = $(this).attr("value");
    calculate();
    setVeaamUser();
      alert("tu");
  });

  $("#service li a").click(function(){
    Service = $(this).attr("value");
    Space=parseInt($(this).attr("space"));
    Vm=parseInt($(this).attr("vm"));
    calculate();
    setVeeamService();
      alert("tu");
  });

  $("#platform li a").click(function(){
    Platform = $(this).attr("value");
    calculate();
    setVeeamServer();
      alert("tu");
  });

  $("#extraVm").click(function(){
    ExtraVm = 20 * parseInt($(this).attr("value"));
    /*alert($("#spinner").attr("value"));*/
    /*calculate();*/
  });

  $("#spiner2").click(function(){
    alert("spinner");
    ExtraGb = $(this).attr("value");
    calculate();

  });

  $(document).ready(function() {

    "use strict";

    var scrollAnimationTime = 1200,
        scrollAnimation = 'easeInOutExpo';
    $('a.scrollto').bind('click.smoothscroll', function(event) {
      event.preventDefault();
      var target = this.hash;
      $('html, body').stop().animate({
        'scrollTop': $(target).offset().top
      }, scrollAnimationTime, scrollAnimation, function() {
        window.location.hash = target;
      });
    });
    //COUNTER
     $('.counter_num').counterUp({
         delay: 10,
         time: 2000
     });
  });
</script>