<div class="spn_hol">
  <div class="spinner2">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<!-- END PRELOADER -->

<!-- =========================
 START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to image_tag("logo.png", width: "140"), "http://www.megatrend.com", target: '_blank', class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- NAV -->
            <li><a href="#HOME">HOME</a> </li>
            <li><a href="#ABOUT"><%= t(".about") %></a> </li>
            <li><a href="#BAAS">BaaS</a></li>
            <li><a href="#DRAAS">DRaaS</a> </li>
            <li><a href="#CALC"><%= t(".trial") %></a> </li>
            <li><a href="#CONTACT"><%= t(".contact") %></a> </li>
            <% if user_signed_in? %>
            <li><%= link_to t(".sign_out"), destroy_user_session_path %></li>
            <% else %>
            <li><a href="#REGISTER"><%= t(".sign_in") %></a> </li>
            <% end %>
            <!-- ukljuci kada dode ENG prijevod -->
            <% if I18n.locale == :hr %>
            <!--
            <li><%= link_to "EN ", locale: "en" %></li>
            <% else %>
            <li><%= link_to "HR ", locale: "hr" %></li>
            -->
            <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container- -->
    </nav>
    <% if notice %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= notice %></div>
        </div>
    <% elsif alert %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-danger" role="alert"><%= alert %></div>
        </div>
    <% end %>
    <div class="container home-container">

      <div class="row">
        <div class="col-md-12">

          <div class="logo text-center">
            <!-- LOGO -->
            <%= image_tag("logo.png") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="home_text">
            <!-- TITLE AND DESC -->
            <h1><%= t(".home_header") %></h1>
            <p><%= t(".home_paragraph") %></p>

            <div class="download-btn">
              <!-- BUTTON -->
              <% if user_signed_in? %>
              <a class="btn home-btn wow fadeInLeft" href="#CALC"><%= t(".start_trial") %></a>
              <% else %>
              <a class="btn home-btn wow fadeInLeft" href="#REGISTER"><%= t(".start_trial") %></a>
              <% end %>
              <a class="tuor btn wow fadeInRight" href="#ABOUT"><%= t(".tour") %><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
          <div class="home-iphone">
            <%= image_tag("veeam.png", :alt => "veeam") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END HEADER SECTION -->




<!-- =========================
 START ABOUT US SECTION
============================== -->


<section class="about page" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title">
          <h2><%= t(".about_title") %></h2>
          <p><%= t(".texts.about") %>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="inner_about_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about_phone wow bounceInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <!-- PHONE -->
            <%= image_tag("evolution.png", width: "700", alt: "data protection evolution") %>
          </div>
        </div>

      </div>
    </div>
  </div>


</section>
<!-- End About Us -->

<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break_user") %></p>
      </div>
      <div class="col-md-3">
        <a href="#CALC" class="btn btn-primary btn-action"><%= t(".trial") %></a>
      </div>
      <% else %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break") %></p>
      </div>
      <div class="col-md-3">
        <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->





<!-- =========================
 START FEATURES
============================== -->
<section id="BAAS" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2>Backup <span style="text-transform: none;">as a </span>Service - <span style="text-transform: none;">BaaS</span></h2>
          <p><%= t(".baas.texts.baas") %>
          </p>
        </div>
        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>

  <div class="feature_inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-cloud-upload"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".baas.backup_rule") %><span> :</span></h3>
            <p><%= t(".baas.texts.backup_rule") %>
            </p>
          </div>

          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-network"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".baas.hosting") %><span> :</span></h3>
            <p><%= t(".baas.texts.hosting") %>
            </p>
          </div>
          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-look"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".baas.supervision") %><span> :</span></h3>
            <p><%= t(".baas.texts.supervision") %></p>
          </div>
          <!-- END SINGLE FEATURE -->



        </div>
        <div class="col-md-6 right_no_padding wow fadeInLeft" data-wow-duration="1s">


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-diamond"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".baas.architecture") %><span> :</span></h3>
            <p><%= t(".baas.texts.architecture") %></p>
          </div>
          <!-- END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-key"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".baas.end_to_end") %><span> :</span></h3>
            <p><%= t(".baas.texts.end_to_end") %></p>
          </div>
          <!-- END SINGLE FEATURE -->

        </div>
        <!--  <div class="col-md-4">
            <div class="feature_iphone">
                <img class="wow bounceIn" data-wow-duration="1s" src="images/flow.png" alt="">
            </div>
        </div>-->

      </div>
    </div>
  </div>
  <% if I18n.locale == :en %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="logo text-center">
          <!-- LOGO -->
          <%= image_tag("veeam_baas.png", width: "1000") %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
<!-- END FEATURES SECTION -->



<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break_user") %></p>
          </div>
          <div class="col-md-3">
            <a href="#CALC" class="btn btn-primary btn-action"><%= t(".trial") %></a>
          </div>
      <% else %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break") %>></p>
          </div>
          <div class="col-md-3">
            <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->



<!-- =========================
 START FEATURES
============================== -->
<section id="DRAAS" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2>Disaster recovery <span style="text-transform: none;">as a </span>Service - <span style="text-transform: none;">DRaaS</span></h2>
          <p><%= t(".draas.texts.draas") %></p>
        </div>
        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>

  <div class="feature_inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-cloud"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.cloud_host") %><span> :</span></h3>
            <p><%= t(".draas.texts.cloud_host") %>

            </p>
          </div>

          <!-- END SINGLE FEATURE -->

          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-repeat"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.failover") %><span> :</span></h3>
            <p><%= t(".draas.texts.failover") %></p>
          </div>
          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-home"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.failback") %><span> :</span></h3>
            <p><%= t(".draas.texts.failback") %></p>
          </div>
          <!-- END SINGLE FEATURE -->

        </div>
        <div class="col-md-6 right_no_padding wow fadeInLeft" data-wow-duration="1s">


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-magic-wand"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.1_click") %><span> :</span></h3>
            <p><%= t(".draas.texts.1_click") %></p>
          </div>
          <!-- END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-vector"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.virtual") %><span> :</span></h3>
            <p><%= t(".draas.texts.virtual") %></p>
          </div>
          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="pe-7s-lock"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".draas.tls_ssl") %><span> :</span></h3>
            <p><%= t(".draas.texts.tls_ssl") %></p>
          </div>
          <!-- END SINGLE FEATURE -->

        </div>

        <!--  <div class="col-md-4">
            <div class="feature_iphone">
                <img class="wow bounceIn" data-wow-duration="1s" src="images/flow.png" alt="">
            </div>
        </div>-->

      </div>
    </div>
  </div>
  <% if I18n.locale == :en %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="logo text-center">
          <!-- LOGO -->
          <%= image_tag("veeam_draas.png", width: "1000") %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
<!-- END FEATURES SECTION -->





<!-- =========================
 Start FUN FACTS
============================== -->


<section class="fun_facts parallax">
  <div class="available_store">
    <div class="container  wow bounceInRight" data-wow-duration="1s">
      <div class="col-md-6">
        <div class="available_title">
          <h2><%= t(".section_break_about") %></h2>
        </div>
      </div>

      <!-- DOWNLOADABLE STORE -->
      <div class="col-md-6">
        <div class="row">
          <a href="http://www.megatrend.com/ " target="_blank">
            <div class="col-md-4 no_padding">
              <div class="single_store">
                <i class="fa fa-home"></i>
                <div class="store_inner">
                  <h2>MEGATREND</h2>
                </div>
              </div>
            </div>
          </a>
          <div class="col-md-4 no_padding">
            <a href="https://www.veeam.com/vm-backup-recovery-replication-software.html" target="_blank">
              <div class="single_store">
                <i class="fa fa-cogs"></i>
                <div class="store_inner">
                  <h2>VEEAM</h2>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 no_padding">
            <a href="http://www.vmware.com/" target="_blank">
              <div class="single_store last">
                <i class="fa fa-magic"></i>
                <div class="store_inner">
                  <h2>VMware</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- END DOWNLOADABLE STORE -->
    </div>
  </div>
</section>

<!-- END FUN FACTS -->

<!-- =========================
 START KALKULATOR - ovo se prikazuje ako je korisnik logiran
============================== -->




<section id="CALC" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2><%= t(".trial_title") %></h2>
          <div class="row" style="margin-top: 55px">
            <% if calc_alert %>
                <div class="container" style="padding-top: 10px;">
                  <div class="alert alert-danger" role="alert"><%= calc_alert %></div>
                </div>
            <% elsif calc_success %>
                <div class="container" style="padding-top: 10px;">
                  <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= calc_success %></div>
                </div>
            <% end %>
            <div class="col-md-4">
              <h2>B<span style="text-transform: none;">aa</span>s</h2>
              <p><%= t(".calculator.texts.baas") %></p>
            </div>
            <div class="col-md-4">
              <h2>B<span style="text-transform: none;">aa</span>s & DR<span style="text-transform: none;">aa</span>s</h2>
              <p><%= t(".calculator.texts.baas_draas") %></p>
            </div>
            <div class="col-md-4">
              <h2>DR<span style="text-transform: none;">aa</span>S</h2>
              <p><%= t(".calculator.texts.draas") %></p>
            </div>
          </div>
        </div>

        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>

  <!-- =========================
   START SIGNIN SIGNUP - ovo se prikazuje ako je korisnik nije logiran
  ============================== -->
  <% if !user_signed_in? %>
      <section id="REGISTER" class="features page">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- FEATURES SECTION TITLE -->
              <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top: 50px;">
                <h2><%= t(".sign_in_trial_title") %></h2>
                <p><%= t(".texts.calculator") %></br>
                  <%= t(".texts.calculator_mail") %></p>
              </div>

              <div class="centered margin-btm">

                <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary btn-action" %>
                <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary btn-action " %>


              </div>
              <!-- END FEATURES SECTION TITLE -->
            </div>
          </div>
        </div>

      </section>
      <!-- END SIGNIN SIGNUP SECTION -->
  <% end %>


  <div class="container" id="CALCULATOR_SERVICES" style="padding-bottom: 80px;">
    <!--<p class="calc_disclaimer_info">
      *<%= t(".calculator.price_disclaimer_sec") %>
    </p> -->
    <div class="row margin">

      <div class="col-md-8">
        <div class="row">
          <!-- <div class="col-md-4 right_no_padding wow fadeInLeft " data-wow-duration="1s"> -->
            <!-- FEATURE -->
            <%= simple_form_for(:users_service, :url => calculator_services_path, :method => :post) do |f| %>
                <!-- Default value se miče samo ako se vrati odabir veeam_user licence -->
                <%= f.input :veeam_user ,:as => :hidden, :include_blank => true,:input_html => { id: "veeamUser", value: "1"} %>
                <%= f.input :service ,:as => :hidden, :include_blank => true,:input_html => { id: "veeamService"} %>
                <%= f.input :vm_server ,:as => :hidden, :include_blank => true,:input_html => { id: "veeamServer"} %>
                <%= f.input :vm_extra ,:as => :hidden, :include_blank => true,:input_html => { id: "veeamVmExtra"}, default: 0 %>
                <%= f.input :storage_extra ,:as => :hidden, :include_blank => true,:input_html => { id: "veeamStorageExtra"}, default: 0 %>
              <!--
                <div class="kalkulator ">
                  <h3><%= t(".calculator.veeam_licence") %> <span> :</span></h3>
                  <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                      <%= t(".calculator.veeam_licence_placeholder") %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="license" >
                      <li><a value="0"><%= t(".calculator.veeam_licence_yes") %></a></li>
                      <li><a value="40"><%= t(".calculator.veeam_licence_no") %></a></li>
                    </ul>
                  </div>
                </div>


          </div>
          -->

          <div class="col-md-5 col-md-offset-1 right_no_padding wow fadeInLeft" data-wow-duration="1s">


            <div class="kalkulator ">
              <h3><%= t(".calculator.service") %> <span> :</span></h3>
              <div class="dropdown ">
                <button class="btn btn-default btn-lg dropdown-toggle button_width" type="button" data-toggle="dropdown" >
                  <%= t(".calculator.service_placeholder") %> <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu" id="service">
                  <li><a space="500" vm="5" value="120" onclick="enableSpinners()">BaaS</a></li>
                  <li><a space="1000" vm="5" value="250" onclick="enableSpinners()">DRaaS</a></li>
                </ul>
              </div>
            </div>

          </div>


          <div class="col-md-5 right_no_padding wow fadeInLeft" data-wow-duration="1s">


            <div class="kalkulator ">
              <h3><%= t(".calculator.platform") %> <span> :</span></h3>
              <div class="dropdown ">
                <button class="btn btn-default btn-lg dropdown-toggle button_width" type="button" data-toggle="dropdown">
                  <%= t(".calculator.platform_placeholder") %><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="platform" onchange="calculateTotal()">
                  <li><a value="0">VMware</a></li>
                  <li><a value="0">HyperV</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="row">

          <div class="col-md-5 col-md-offset-1 right_no_padding wow fadeInLeft " data-wow-duration="1s">
            <!-- FEATURE -->

            <div class="kalkulator ">
              <h3><%= t(".calculator.extra_vm") %><span> :</span></h3>


              <div class="input-group spinner " data-trigger="spinner" id="spinner">
                <input id="extraVm" type="text" class="form-control text-center button_width" value="0" data-rule="quantity" disabled="true" style="width: 166px; height: 44.5px;">
                <div class="input-group-addon">
                  <a  onclick="extraVmPlus()" href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                  <a onclick="extraVmMinus()" href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                </div>
              </div>


              <!--<div id="extraVm" class="input-group">
                  <span class="input-group-btn">
<button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner" data-toggle="spinner">
<span class="glyphicon glyphicon-minus"></span>
                  </button>
                  </span>
                  <input type="text" data-ride="spinner" id="spinner" class="form-control input-number" value="0">
                  <span class="input-group-btn">
<button type="button" class="btn btn-default" data-value="increase" data-target="#spinner" data-toggle="spinner">
<span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
              </div>-->
            </div>

            <!-- END SINGLE FEATURE -->

          </div>


          <div class="col-md-5 right_no_padding wow fadeInLeft" data-wow-duration="1s">


            <div class="kalkulator ">
              <h3><%= t(".calculator.extra_storage") %><span> :</span></h3>

              <div class="input-group spinner" data-trigger="spinner" id="spinner2" >
                <input id="extraRam" type="text" class="form-control text-center " value="0" data-rule="quantity" disabled="true" style="width: 166px; height: 44.5px;">
                <div class="input-group-addon">
                  <a  onclick="extraRamPlus()" href="javascript:;" class="spin-up" data-spin="up"   disabled="true"><i class="fa fa-caret-up"></i></a>
                  <a onclick="extraRamMinus()" href="javascript:;" class="spin-down" data-spin="down"   disabled="true"><i class="fa fa-caret-down"></i></a>
                </div>
              </div>
              <!--  <div class="input-group">
                    <span class="input-group-btn">
<button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner2" data-toggle="spinner">
<span class="glyphicon glyphicon-minus"></span>
                    </button>
                    </span>
                    <input type="text" data-ride="spinner" id="spinner2" class="form-control input-number" value="0" >
                    <span class="input-group-btn">
<button type="button" class="btn btn-default" data-value="increase" data-target="#spinner2" data-toggle="spinner">
<span class="glyphicon glyphicon-plus"></span>
                    </button>
                    </span>
                </div>-->
            </div>

          </div>



        </div>
        <% if user_signed_in? %>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 ight_no_padding wow fadeInLeft">
                <p class="calc_disclaimer_info">
                  <%= t(".calculator.texts.disclaimer") %>
                </p>
              </div>
            </div>
        <% end %>

        </div>
      <% if user_signed_in? %>
        <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <div class="price">

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><%= t(".calculator.price") %><span>:</span></h3>
            <h2> <span id="cijena">0</span>,00 &euro;</h2>
            <p class="calc_info"> <%= t(".calculator.price_packet") %> <b><span id="vm">0</span> VM</b> i <b><span id="space">0</span> GB</b></p>
            <p class="calc_disclaimer">
              <%= t(".calculator.price_disclaimer_sec_html") %>
            </p>
            <p class="calc_disclaimer">
              <%= t(".calculator.price_disclaimer") %>
            </p>
          </div>

          <!-- END SINGLE FEATURE -->
          <div class="centered">
            <%= f.button :submit, t(".inquiry"), class: "btn home-btn wow fadeInLeft btnlogin btn-action" %>

          </div>
          <div class="centered">
            <a type="button" class="btn btn-primary btn-action" href="#" role="button" data-toggle="modal" data-target="#FreeTrialConfirmForm"><%= t(".free_trial") %></a>
          </div>
        </div>
        <% else %>
          <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
            <!-- FEATURE -->

            <div class="price">

              <!-- FEATURE HEADING AND DESCRIPTION -->
              <h3><%= t(".inquiry_not_registered") %></h3>
              <p class="calc_info"> <%= t(".calculator.price_packet") %> <b><span id="vm">0</span> VM</b> i <b><span id="space">0</span> GB</b></p>
              <p class="calc_disclaimer">
                <%= t(".calculator.price_disclaimer_sec_html") %>
              </p>

            </div>

            <!-- END SINGLE FEATURE -->
            <div class="centered">
              <a type="button" class="btn home-btn wow fadeInLeft btnlogin btn-action" href="#" role="button" data-toggle="modal" data-target="#LoginForm"><%= t(".inquiry") %></a>

            </div>
            <div class="centered">
              <a class="btn btn-primary btn-action" href="#REGISTER" role="button"><%= t(".free_trial") %></a>
            </div>
          </div>
        <% end %>

    </div>




  </div>


</section>
<!-- END KALKULATOR SECTION -->

<% end %>

<!-- =========================
 START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
  <div class="section_overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 wow bounceIn">
        <!-- Start Contact Section Title-->
        <div class="section_title">
          <h2><%= t(".get_in_touch") %></h2>
          <p>Imate dodatnih pitanja?</br>
          Kontaktirajte nas i zatražite dodatne informacije.</p>
        </div>
      </div>
    </div>

    <div class="contact_form wow bounceIn">
      <div class="container">

        <!-- START ERROR AND SUCCESS MESSAGE -->
        <div class="form_error text-center">
          <div class="name_error hide error"><%= t(".contact_errors.enter_name") %></div>
          <div class="email_error hide error"><%= t(".contact_errors.enter_email") %></div>
          <div class="email_val_error hide error"><%= t(".contact_errors.enter_valid_email") %></div>
          <div class="message_error hide error"><%= t(".contact_errors.enter_message") %></div>
        </div>
        <div class="Sucess"></div>
        <!-- END ERROR AND SUCCESS MESSAGE -->

        <!-- FORM -->
        <%= simple_form_for(:email_form, url: contact_us_services_path ,class: "form-control") do |f|%>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :name,label:false, input_html: {class: "form-control", id: "name"}, required: true, placeholder: t(".contact_us_name") %>
              <%= f.input :email,label:false, input_html: {class: "form-control", id: "email"},required: true , placeholder: t(".contact_us_email")%>
              <%= f.input :subject,label:false, input_html: {class: "form-control", id: "subject"},required: true, placeholder: t(".contact_us_subject") %>
            </div>


            <div class="col-md-8">
              <%= f.input :body ,required: true, label: false, input_html: { id: "message", rows: "25", cols: "10", class: "form-control"}, placeholder: t(".contact_us_body"), :as => :text %>
              <%= f.button :submit, t(".contact_us_send"), class: "btn btn-default submit-btn" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <% unless flash[:recaptcha_error].nil? %>
                <div class="alert alert-danger" role="alert"><%= flash[:recaptcha_error] %></div>
              <% end %>
              <%= recaptcha_tags %>
            </div>
          </div>
        <% end %>
        <!-- END FORM -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInLeft">
          <div class="social_icons">
            <ul>
              <li><a href="https://www.facebook.com/mprdoo" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/megatrend" target="_blank"><i class="fa fa-linkedin"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->


<!-- =========================
 FOOTER
============================== -->

<section class="copyright">
  <h2></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copy_right_text">
          <!-- COPYRIGHT TEXT -->
          <p>Copyright &copy; 2016.</p>
          <p><a href="http://www.megatrend.com/" target="_blank">Megatrend Poslovna Rješenja</a></p>
          <p><% if user_signed_in? %>
                <% if current_user.admin? %>
                    <%= link_to "Admin", admin_root_path %>
                <% end %>
            <% end %></p>
        </div>

      </div>

      <div class="col-md-6">
        <div class="scroll_top">
          <a href="#HOME"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->


<!--Registration Form dialog-->

<!--Registration Form dialog end -->

<!--Login Form dialog-->

            <div class="closewnd modal fade" id="LoginForm" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content -->

                <div class="modal-content">
                  <% unless user_signed_in? %>
                      <%= simple_form_for(@subscriber, url: subscriber_create_services_path, method: :post, html: {class: "sky-form"}) do |f| %>
                          <%= f.input :veeam_user,:as => :hidden , :include_blank => true,:input_html => { id: "temp_veeamUser", value: "1"} %>
                          <%= f.input :service ,:as => :hidden, :include_blank => true,:input_html => { id: "temp_veeamService"} %>
                          <%= f.input :vm_server ,:as => :hidden, :include_blank => true,:input_html => { id: "temp_veeamServer"} %>
                          <%= f.input :vm_extra ,:as => :hidden, :include_blank => true,:input_html => { id: "temp_veeamVmExtra"}, default: 0 %>
                          <%= f.input :storage_extra ,:as => :hidden, :include_blank => true,:input_html => { id: "temp_veeamStorageExtra"}, default: 0 %>

                    <header><%= t(".inquiry_modal.inquiry_email") %></header>

                    <fieldset>
                      <section>
                        <div class="row">
                          <label class="label col col-4 skylabel">E-mail</label>
                          <div class="col col-8">
                            <label class="input">
                              <i class="icon-append icon-user"></i>
                              <%= f.input :email, required: true, label: false %>
                            </label>
                          </div>
                        </div>
                      </section>
                    </fieldset>
                    <footer>
                      <%= f.button :submit, t(".inquiry_modal.send_button"), class: "button" %>
                    </footer>

                      <% end %>
                  <% end %>
                </div>

              </div>
            </div>

<!--Free trial confirm box-->
            <div class="closewnd modal fade" id="FreeTrialConfirmForm" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content -->

                <div class="modal-content">
                  <% if user_signed_in? %>
                      <form action="" class="sky-form">
                          <header><%= t(".free_trial_confirm") %></header>

                          <fieldset>
                            <section>
                              <div class="row">
                                <div class="col col-10">
                                  <%= link_to t(".free_trial_yes"), free_trial_path, class: "button" %>
                                </div>
                                <div class="col col-2"%>
                                  <button type="button" class="button" data-dismiss="modal"><%= t(".free_trial_no") %></button>
                                </div>
                              </div>
                            </section>


                          </fieldset>
                      </form>

                  <% end %>
                </div>

              </div>
            </div>

<script>
  //KALKULATOR SELECT VALUE
  var License=0;
  var Service=0;
  var Platform=0;
  var ExtraVm=0;
  var ExtraGb=0;
  var Space=0;
  var Vm=0;
  var AddSpace=0;
  var AddVm=0;
  var TempText = "";



  $(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    TempText = selText
    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });

  $("#license li a").click(function(){
    License = $(this).attr("value");
    calculate();
    setVeaamUser();
  });

  $("#service li a").click(function(){
    Service = $(this).attr("value");
    Space=parseInt($(this).attr("space"));
    Vm=parseInt($(this).attr("vm"));
    calculate();
    setVeeamService();
  });

  $("#platform li a").click(function(){
    Platform = $(this).attr("value");
    calculate();
    setVeeamServer();
  });

  $("#extraVm").click(function(){
    ExtraVm = 20 * parseInt($(this).attr("value"));
    /*alert($("#spinner").attr("value"));*/
    /*calculate();*/
  });

  $("#spiner2").click(function(){
    alert("spinner");
    ExtraGb = $(this).attr("value");
    calculate();
  });

  function extraVmPlus() {
    var result = 0;
    if (document.getElementById("extraVm").disabled == false) {

      if (parseInt(document.getElementById("extraVm").value) < 30) {
        result = parseInt(document.getElementById("extraVm").value) + 1;
      }
      else {
        result = 30;
        AddVm = 30;
      }

      ExtraVm = result * 20;
      AddVm = result;
      calculate();
      setExtraVm()
    }
  }

  function extraVmMinus(){
    var result =0;
    if (document.getElementById("extraVm").disabled == false) {
      if(parseInt(document.getElementById("extraVm").value) > 0){
        result = parseInt(document.getElementById("extraVm").value) - 1;
      }
      else{
        result=0;
        AddVm=0;
      }
      ExtraVm = result * 20;
      AddVm =result;
      calculate();
      setExtraVm()
    }
  }

  function extraRamPlus(){
    var result = 0;
    if(document.getElementById("extraRam").disabled == false) {
      if(parseInt(document.getElementById("extraRam").value) < 30 ){
        result = parseInt(document.getElementById("extraRam").value) + 1;
      }
      else{
        result=30;
        AddSpace=30*100;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      calculate();
      setExtraStorage()
    }
  }

  function extraRamMinus(){
    var result =0;
    if(document.getElementById("extraRam").disabled == false){
      if(parseInt(document.getElementById("extraRam").value) > 0){
        result = parseInt(document.getElementById("extraRam").value) - 1;
      }
      else{
        result=0;
        AddSpace=0;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      calculate();
      setExtraStorage()
    }
  }

  function enableSpinners(){
    document.getElementById("extraVm").disabled = false;
    document.getElementById("extraRam").disabled = false;
  }

  function calculate (){
    var result = parseInt(License) + parseInt(Service) + parseInt(Platform) + parseInt(ExtraVm) + parseInt(ExtraGb);
    if (document.getElementById("cijena") != null) document.getElementById("cijena").innerHTML = result;
    document.getElementById("vm").innerHTML = Vm + AddVm;
    document.getElementById("space").innerHTML = Space + AddSpace;

  }

  function setVeaamUser(){
    if (document.getElementById("veeamUser") != null) document.getElementById("veeamUser").value = TempText.toString();
    document.getElementById("temp_veeamUser").value = TempText.toString();
  }

  function setVeeamService(){
    if (document.getElementById("veeamService") != null) document.getElementById("veeamService").value = TempText.toString();
    document.getElementById("temp_veeamService").value = TempText.toString();
  }

  function setVeeamServer(){
    if (document.getElementById("veeamServer") != null) document.getElementById("veeamServer").value = TempText.toString();
    document.getElementById("temp_veeamServer").value = TempText.toString();
  }

  function setExtraVm(){
    if (document.getElementById("veeamVmExtra") != null) document.getElementById("veeamVmExtra").value = AddVm;
    document.getElementById("temp_veeamVmExtra").value = AddVm;
  }

  function setExtraStorage(){
    if (document.getElementById("veeamStorageExtra") != null) document.getElementById("veeamStorageExtra").value = AddSpace;
    document.getElementById("temp_veeamStorageExtra").value = AddSpace;
  }

  $(document).ready(function() {

    "use strict";

    var scrollAnimationTime = 1200,
        scrollAnimation = 'easeInOutExpo';
    $('a.scrollto').bind('click.smoothscroll', function(event) {
      event.preventDefault();
      var target = this.hash;
      $('html, body').stop().animate({
        'scrollTop': $(target).offset().top
      }, scrollAnimationTime, scrollAnimation, function() {
        window.location.hash = target;
      });
    });
    //COUNTER
     $('.counter_num').counterUp({
         delay: 10,
         time: 2000
     });
  });
</script>