<style>
  .icon_image_centering {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .phone_user_icons{
    vertical-align: -50%;
    height:50px;width:50px;
    display: inline-block;
  }
</style>

<div class="spn_hol">
  <div class="spinner2">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<!-- END PRELOADER -->

<!-- =========================
 START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to image_tag("logo.png", width: "140"), "http://www.megatrend.com", target: '_blank', class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- NAV -->
              <!-- NAV -->
              <li><a href="#HOME">HOME</a> </li>
              <li><a href="#ABOUT">O USLUZI </a> </li>
              <li><a href="#PACKAGE">PAKETI U PONUDI</a></li>
              <li><a href="#PRICES">PROBA/CIJENE</a> </li>
              <li><a href="#CONTACT">KONTAKT </a> </li>
            <% if user_signed_in? %>
            <li><%= link_to t(".sign_out"), destroy_user_session_path %></li>
            <% else %>
            <li><a href="#REGISTER"><%= t(".sign_in") %></a> </li>
            <% end %>
            <!-- ukljuci kada dode ENG prijevod -->
            <% if I18n.locale == :hr %>
            <!--
            <li><%= link_to "EN ", locale: "en" %></li>
            <% else %>
            <li><%= link_to "HR ", locale: "hr" %></li>
            -->
            <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container- -->
    </nav>
    <% if notice %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= notice %></div>
        </div>
    <% elsif alert %>
        <div class="container" style="padding-top: 15px;">
        <div class="alert alert-danger" role="alert"><%= alert %></div>
        </div>
    <% end %>
    <div class="container home-container">

      <div class="row">
        <div class="col-md-12">

          <div class="logo text-center">
            <!-- LOGO -->
            <%= image_tag("logo.png") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="home_text">
            <!-- TITLE AND DESC -->
            <h1>Mobile device managment usluga</h1>
            <p>Osigurajte svoje mobilne uređaje, aplikacije i sadržaj pomoću sveobuhvatnog rješenja za upravljanje mobilnim uređajima</p>

            <div class="download-btn">
              <!-- BUTTON -->
              <a class="btn home-btn wow fadeInLeft" href="#PACKAGE"><%= t(".start_trial") %></a>
              <a class="tuor btn wow fadeInRight" href="#ABOUT"><%= t(".tour") %><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
          <div class="home-iphone">
            <%= image_tag("maaslogo_type.png", :alt => "MaaS360") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
        <div class="home_text">
          <!-- TITLE AND DESC -->
          <p>* IBM MaaS360 proizvod</p>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- END HEADER SECTION -->




<!-- =========================
 START ABOUT US SECTION
============================== -->


<section class="about page" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title">
          <h2>O usluzi</h2>
          <p>Mobile Device Management je pouzdano rješenje za upravljanje mobilnim uređajima vašeg poduzeća koje čini rad u mobilnom svijetu jednostavnijim i sigurnijim. Koristite snažan alat za upravljanje mobilnim uređajima sa sveobuhvatnom, integriranom zaštitom kako biste omogućili pristup i korištenje aplikacija, sadržaja, e-pošte i uređaja, bez ugrožavanja korisničkog doživljaja, sigurnosti podataka ili privatnosti.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering"><%= image_tag('iconsIBM/benefits--svg.svg', alt: "MaaS360", style: 'width: 70px;' ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis" > Jednostavno i lako upravljanje vašim mobilnim uređajima</h2>
          <p class="paragraf" >Svi vaši uređaji su vidljivi na jednom mjestu i njima možete daljinski upravljati</p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (1).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> Brza implementacija aplikacija</h2>
          <p class="paragraf">Jednostavna distribucija aplikacija pomoći interaktivnog kataloga aplikacija</p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (2).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> Dostupnost dokumenta i sadržaja</h2>
          <p class="paragraf">„Mobilizacija“ dokumenata i sadržaja kako bi ste ostali produktivni s bilo kojeg mjesta i u bilo koje vrijeme, a u sigurnom okruženju</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (3).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> Sigurnost  dokumenta i sadržaja</h2>
          <p class="paragraf">Omogućuje korisnicima pristup informacijama bez rizika od curenja podataka </p>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="section_title_feature">
          <div class="icon_image_centering "><%= image_tag("iconsIBM/benefits--svg (4).svg", alt:"MaaS360", style:"width: 70px;" ) %></div>
          <!-- TITLE AND DESC -->
          <h2 class="naslov_opis"> Pristup poslovnim sustavima</h2>
          <p class="paragraf">Integracija s poslovnim sustavima uz mogućnost korištenja postojeće infrastrukture i spremišta podataka</p>

        </div>
      </div>

    </div>
    <div class="margin-btm row">

      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title" style="padding-top:50px; padding-bottom: 10px;">
          <h2>Glavne značajke</h2>
          <p>
          </p>
        </div>


      </div>
      <div class="col-md-6 col-sm-6">
        <div class="section_title_feature" style="padding-top:0; padding-bottom:20px;">
          <!-- TITLE AND DESC -->
          <ul class="paragraf2 key"> <li>BYOD/korištenje privatnih mobilnih uređaja za pristup poslovnim podacima </li> <li>
            Korporativni sadržaj dostupan na mobilnim uređajima</li> <li>
            Siguran pristup korporativnim sadržajima</li> <li>

            Zaštita i detekcija  uređaja od „malware“, „jailbreak“ i „root“ </li>
          </ul>

        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="section_title_feature" style="padding-top:0; padding-bottom:20px; ">
          <!-- TITLE AND DESC -->
          <ul class="paragraf2 key"> <li>Trenutan uvid u status uređaja i mogućnost promptnog oduzimanja aktivnosti </li> <li>
            Upravljanje uređajima „out-of-the-box“
          </li> <li>Upravljanje svim tipovima PC i Mac uređaja</li> <li>
            Korištenje pouzdane MDM platforme </li>
          </ul>

        </div>
      </div>

    </div>
  </div>


</section>
<!-- End About Us -->

<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break_user") %></p>
      </div>
      <div class="col-md-3">
        <a href="#CALC" class="btn btn-primary btn-action"><%= t(".trial") %></a>
      </div>
      <% else %>
      <div class="col-md-9">
        <p class="nomargin"><%= t(".section_break") %></p>
      </div>
      <div class="col-md-3">
        <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->





<!-- =========================
 START FEATURES
============================== -->
<section id="PACKAGE" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2>PAKETI U PONUDI </h2>
        </div>
        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>


  <div class="container">

    <div class="pricing-container">

      <ul class="pricing-list bounce-invert">
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Essentials</h2>
                <div class="opis">
                  <p>Upravljanje i osiguravanje korisnika, pametnih telefona, tableta, prijenosna računala i aplikacija</p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li style="margin-bottom: 11px;">Mobile Device Management* </li>
                  <li>Mobile App Management*</li>
                  <li>Patch and Update Management</li>
                  <li>Identity Management</li>
                  <li>Advisor</li>
                  <li>Container App</li>
                  <li>Expense Management</li>
                  <li><span style="font-size: 12px;">*iOS/Android/ Windows/macOS</span></li>
                </ul>
              </div>
              <footer class="pricing-footer">
                <a class="select_price" href="https://m2.maas360.com/emc/?" target="_blank">BESPLATNA PROBA</a>
              </footer>
            </li>

          </ul>
        </li>
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Deluxe</h2>
                <div class="opis">
                  <p>Razdvajanje privatnih i poslovnih  podataka (containerization)</p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li>uključuje sve funkcionalnosti Essential paketa</li>
                  <li>Secure Mobile Mail</li>
                  <li>Secure Mobile Chat</li>
                  <li> </li>
                  <li></li>
                  <li> </li>
                  <li> </li>
                  <li> </li>

                </ul>
              </div>
              <footer class="pricing-footer">
                <a class="select_price" href="https://m2.maas360.com/emc/?" target="_blank">BESPLATNA PROBA</a>
              </footer>
            </li>

          </ul>
        </li>
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Premier</h2>
                <div class="opis">
                  <p>Upravljanje sadržajem, sigurni pretraživaći, sigurnost aplikacija i zaštičeni pristup mreži</p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li>uključuje sve funkcionalnosti Deluxe paketa</li>
                  <li>OS VPN</li>
                  <li>Secure Browser</li>
                  <li> Gateway for Browser</li>
                  <li>Content Management</li>
                  <li> Gateway for Documents</li>
                  <li> Application Security</li>
                  <li> Gateway for Apps</li>
                </ul>
              </div>
              <footer class="pricing-footer">
                <a class="select_price" href="https://m2.maas360.com/emc/?" target="_blank">BESPLATNA PROBA</a>
              </footer>
            </li>

          </ul>
        </li>

        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Enterprise</h2>
                <div class="opis">
                  <p>Transformacija poslovanja kompanije unutar sigurnih okvira uz pomoć paketa za zaštitu poduzeća i produktivnost</p>
                </div>
              </header>
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li>uključuje sve funkcionalnosti Premier  paketa</li>
                  <li>Mobile Document Editor</li>
                  <li>Mobile Document Sync</li>
                  <li>Mobile Threat Management</li>
                  <li></li>
                  <li> </li>
                  <li> </li>
                  <li></li>
                </ul>
              </div>
              <footer class="pricing-footer">
                <a class="select_price" href="https://m2.maas360.com/emc/?" target="_blank">BESPLATNA PROBA</a>
              </footer>
            </li>

          </ul>
        </li>
      </ul>
      <p>* Više informacija o funkcionalnostima pronađite na sljedećem linku <br> &nbsp;&nbsp;
        <a href="https://www.ibm.com/in-en/marketplace/mobile-device-management" target="_blank">www.ibm.com/in-en/marketplace/mobile-device-management</a></p>
    </div>


  </div>

</section>
<!-- END FEATURES SECTION -->



<!-- =========================
 START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <% if user_signed_in? %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break_user") %></p>
          </div>
          <div class="col-md-3">
            <a href="#CALC" class="btn btn-primary btn-action"><%= t(".trial") %></a>
          </div>
      <% else %>
          <div class="col-md-9">
            <p class="nomargin"><%= t(".section_break") %>></p>
          </div>
          <div class="col-md-3">
            <%= link_to t(".register_now"), new_user_registration_path, class: "btn btn-primary btn-action" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->

<!-- =========================
 START KALKULATOR - ovo se prikazuje ako je korisnik logiran
============================== -->
  <!-- =========================
   START SIGNIN SIGNUP - ovo se prikazuje ako je korisnik nije logiran
  ============================== -->

  <section id="PRICES" class="features page">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- FEATURES SECTION TITLE -->
          <div class="section_title wow fadeIn" data-wow-duration="1s">
            <h2>Kalkulator </h2>
            <p>Usluga je namijenjena velikim, srednjim i malim poduzećima. <br>Za veće tvrtke, cijena ovisi o broju uređaja na kojima je usluga akivirana. <br> <br>
              Moguća je i realizacija kombinacije MDM funkcionalnosti izvan okvira ponuđenih paketa. Cijena tako pilagođenog rješenja dostupna je na projektnoj osnovi na zahtjev!
            </p>

          </div>
          <div class="centered">

            <a class="btn btn-primary btn-action" href="#PACKAGE" role="button">Besplatna proba</a>


          </div>
          <!-- END FEATURES SECTION TITLE -->
        </div>
      </div>
    </div>

    <!-- =========================
     ovo se prikazuje ako je korisnik logiran
    ============================== -->
    <% if current_user %>
    <%= simple_form_for(:users_service, :url => calculator_services_path, :method => :post) do |f| %>
    <div class="container" style="padding-bottom: 100px;">
      <div class="row margin">
        <% if calc_alert %>
            <div class="container" style="padding-top: 10px;">
              <div class="alert alert-danger" role="alert"><%= calc_alert %></div>
            </div>
        <% elsif calc_success %>
            <div class="container" style="padding-top: 10px;">
              <div class="alert alert-success" role="alert" style="background-color: #f39c12; color: white"><%= calc_success %></div>
            </div>
        <% end %>

        <div class="col-md-8">
          <!--  <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft " data-wow-duration="1s">

                    <div class="kalkulator ">
                        <h3>Veam license<span> :</span></h3>
                        <div class="dropdown">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                                User Type <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="license" >
                                <li><a value="0">Veeam user</a></li>
                                <li><a value="40">non Veeam user</a></li>
                            </ul>
                        </div>
                    </div>


                </div>


                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">


                    <div class="kalkulator ">
                        <h3>Service<span> :</span></h3>
                        <div class="dropdown ">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                                Service Type <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="service" >
                                <li><a space="500" vm="5" value="120">BUaaS</a></li>
                                <li><a space="1000" vm="5" value="250">DRaaS</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">


                    <div class="kalkulator ">
                        <h3>PLATFORM<span> :</span></h3>
                        <div class="dropdown ">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                                Platform <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="platform">
                                <li><a value="0">VMware</a></li>
                                <li><a value="0">HyperV</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
          -->  <div class="row">

          <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft " data-wow-duration="1s">

            <div class="kalkulator ">
              <h3>1x</h3><%= image_tag('smartphone.svg', class: 'phone_user_icons', alt: 'user') %>
              <h3>=</h3> <div style="display: inline-block; margin: 0 5px;">
              <div  class="input-group spinner" data-trigger="spinner" id="spinner">
                <%= f.input :one_mobile, label: false, wrapper: false,id: 'extraVm',input_html: {value: '0', class: 'form-control text-center'}, data: { rule: 'quantity'} %>

                <div class="input-group-addon">
                  <a  onclick="extraVmPlus()" href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                  <a onclick="extraVmMinus()" href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                </div>
              </div>
            </div><%= image_tag('user.svg', class: 'phone_user_icons', alt: 'user') %>


              <div style="margin-top: -10px; font-size: 14px;">* broj korisnika sa jednim uređajem po korisniku</div>
            </div>

            <!-- END SINGLE FEATURE -->

          </div>

        </div>
        </div>
        <div class="col-md-8">
          <div class="row">




            <div style="z-index:1;" class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft" data-wow-duration="1s">


              <div class="kalkulator ">
                <h3> &gt;1 </h3><%= image_tag('smartphone.svg', class: 'phone_user_icons', alt: 'user') %>
                <h3>=</h3>  <div style="display: inline-block; margin: 0 5px;">
                <div class="input-group spinner" data-trigger="spinner" id="spinner2">
                  <%= f.input :multiple_mobile, label: false, wrapper: false,id: 'extraRam',input_html: {value: '0', class: 'form-control text-center'}, data: { rule: 'quantity'} %>
                  <div class="input-group-addon">
                    <a  onclick="extraRamPlus()" href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                    <a onclick="extraRamMinus()" href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                  </div>
                </div>  </div><%= image_tag('user.svg', class: 'phone_user_icons', alt: 'user') %>



              </div>
              <div style="margin-top: -10px; font-size: 14px;">* broj korisnika sa više od jednog uređaja po korisniku</div>

            </div>



          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 right_no_padding wow fadeInLeft " data-wow-duration="1s">

              <div class="kalkulator ">
                <h3 style="font-size: 26px;">Odaberite paket:</h3>

                <div style="display: inline-block; margin-left: 20px; ">
                  <div class="dropdown">
                  <%= f.input :package, collection: ["Essentials", "Deluxe", "Premier", "Enterprise"], label: false,include_blank: false, include_hidden: false , prompt: 'izaberi paket', input_html: {style: 'width: 150px; height: 45px;'}%>
                  </div>

                </div>
              </div>


            </div>

          </div>

        </div>
        <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <!--   <div class="price">

                 <h3>Odabrali ste <span> :</span></h3>
                 <h2> <span id="cijena">0</span>,00 &euro;</h2>
                 <p> <span id="vm">0</span> VM i <span id="space">0</span> GB

                 </p>


             </div>-->

          <!-- END SINGLE FEATURE -->
          <div class="centered2">
            <div class="centered">
            <%= f.button :submit, 'Pošalji upit' ,class:'btn home-btn wow fadeInLeft', style: 'padding-left: 31px;' %>
            </div>
            <!--<a class="btn home-btn wow fadeInLeft" href="">Pošalji upit</a> -->
          </div>
        </div>
      </div>
    </div>
            <% end %>
    <% end %>

  </section>
<!-- =========================
 KRAJ KALKULATORA
============================== -->
<% if !user_signed_in? %>
    <section id="REGISTER" class="features page" style="padding-top: 45px">
      <div class="container" >
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- FEATURES SECTION TITLE -->
            <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top: 50px;">
              <h2>Registrirajte se i zatražite ponudu</h2>
              <p>Za izradu ponude i slanje zahtjeva za besplatnim testiranjem usluge, molimo da se prijavite/registrirate.</p>
            </div>

            <div class="centered margin-btm">

              <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary btn-action" %>
              <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary btn-action " %>

            </div>
            <!-- END FEATURES SECTION TITLE -->
          </div>
        </div>
      </div>

    </section>
    <!-- END SIGNIN SIGNUP SECTION -->
<% end %>
<!-- END KALKULATOR SECTION -->

<!-- =========================
 START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
  <div class="section_overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 wow bounceIn">
        <!-- Start Contact Section Title-->
        <div class="section_title">
          <h2><%= t(".get_in_touch") %></h2>
          <p>Imate dodatnih pitanja?</br>
          Kontaktirajte nas i zatražite dodatne informacije.</p>
        </div>
      </div>
    </div>

    <div class="contact_form wow bounceIn">
      <div class="container">

        <!-- START ERROR AND SUCCESS MESSAGE -->
        <div class="form_error text-center">
          <div class="name_error hide error"><%= t(".contact_errors.enter_name") %></div>
          <div class="email_error hide error"><%= t(".contact_errors.enter_email") %></div>
          <div class="email_val_error hide error"><%= t(".contact_errors.enter_valid_email") %></div>
          <div class="message_error hide error"><%= t(".contact_errors.enter_message") %></div>
        </div>
        <div class="Sucess"></div>
        <!-- END ERROR AND SUCCESS MESSAGE -->

        <!-- FORM -->
        <%= simple_form_for(:email_form, url: contact_us_services_path ,class: "form-control") do |f|%>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :name,label:false, input_html: {class: "form-control", id: "name"}, required: true, placeholder: t(".contact_us_name") %>
              <%= f.input :email,label:false, input_html: {class: "form-control", id: "email"},required: true , placeholder: t(".contact_us_email")%>
              <%= f.input :subject,label:false, input_html: {class: "form-control", id: "subject"},required: true, placeholder: t(".contact_us_subject") %>
            </div>


            <div class="col-md-8">
              <%= f.input :body ,required: true, label: false, input_html: { id: "message", rows: "25", cols: "10", class: "form-control"}, placeholder: t(".contact_us_body"), :as => :text %>
              <%= f.button :submit, t(".contact_us_send"), class: "btn btn-default submit-btn" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <% unless flash[:recaptcha_error].nil? %>
                <div class="alert alert-danger" role="alert"><%= flash[:recaptcha_error] %></div>
              <% end %>
              <%= recaptcha_tags %>
            </div>
          </div>
        <% end %>
        <!-- END FORM -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInLeft">
          <div class="social_icons">
            <ul>
              <li><a href="https://www.facebook.com/mprdoo" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/megatrend" target="_blank"><i class="fa fa-linkedin"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->


<!-- =========================
 FOOTER
============================== -->

<section class="copyright">
  <h2></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copy_right_text">
          <!-- COPYRIGHT TEXT -->
          <p>Copyright &copy; 2017.</p>
          <p><a href="http://www.megatrend.com/" target="_blank">Megatrend Poslovna Rješenja</a></p>
          <p><% if user_signed_in? %>
                <% if current_user.admin? %>
                    <%= link_to "Admin", admin_root_path %>
                <% end %>
            <% end %></p>
        </div>

      </div>

      <div class="col-md-6">
        <div class="scroll_top">
          <a href="#HOME"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->


<!--Registration Form dialog-->

<!--Registration Form dialog end -->

<!--Login Form dialog-->



<!--Free trial confirm box-->
            <div class="closewnd modal fade" id="FreeTrialConfirmForm" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content -->

                <div class="modal-content">
                  <% if user_signed_in? %>
                      <form action="" class="sky-form">
                          <header><%= t(".free_trial_confirm") %></header>

                          <fieldset>
                            <section>
                              <div class="row">
                                <div class="col col-10">
                                  <%= link_to t(".free_trial_yes"), free_trial_path, class: "button" %>
                                </div>
                                <div class="col col-2"%>
                                  <button type="button" class="button" data-dismiss="modal"><%= t(".free_trial_no") %></button>
                                </div>
                              </div>
                            </section>


                          </fieldset>
                      </form>

                  <% end %>
                </div>

              </div>
            </div>

<script>
  //KALKULATOR SELECT VALUE
  var License=0;
  var Service=0;
  var Platform=0;
  var ExtraVm=0;
  var ExtraGb=0;
  var Space=0;
  var Vm=0;
  var AddSpace=0;
  var AddVm=0;
  var TempText = "";



  $(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    TempText = selText
    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });

  $("#license li a").click(function(){
    License = $(this).attr("value");
    calculate();
    setVeaamUser();
  });

  $("#service li a").click(function(){
    Service = $(this).attr("value");
    Space=parseInt($(this).attr("space"));
    Vm=parseInt($(this).attr("vm"));
    calculate();
    setVeeamService();
  });

  $("#platform li a").click(function(){
    Platform = $(this).attr("value");
    calculate();
    setVeeamServer();
  });

  $("#extraVm").click(function(){
    ExtraVm = 20 * parseInt($(this).attr("value"));
    /*alert($("#spinner").attr("value"));*/
    /*calculate();*/
  });

  $("#spiner2").click(function(){
    alert("spinner");
    ExtraGb = $(this).attr("value");
    calculate();
  });

  function extraVmPlus() {
    var result = 0;
    if (document.getElementById("extraVm").disabled == false) {

      if (parseInt(document.getElementById("extraVm").value) < 300) {
        result = parseInt(document.getElementById("extraVm").value) + 1;
      }
      else {
        result = 30;
        AddVm = 30;
      }

      ExtraVm = result * 20;
      AddVm = result;
      calculate();
      setExtraVm()
    }
  }

  function extraVmPlusNoUser() {
    var result = 0;
    if (document.getElementById("extraVmNoUser").disabled == false) {

      if (parseInt(document.getElementById("extraVmNoUser").value) < 300) {
        result = parseInt(document.getElementById("extraVmNoUser").value) + 1;
        document.getElementById("extraVmNoUser").value = result;
      }
      else {
        result = 30;
        AddVm = 30;
      }

      ExtraVm = result * 20;
      AddVm = result;
      //calculate();
      //setExtraVm()
    }
  }

  function extraVmMinus(){
    var result =0;
    if (document.getElementById("extraVm").disabled == false) {
      if(parseInt(document.getElementById("extraVm").value) > 0){
        result = parseInt(document.getElementById("extraVm").value) - 1;
      }
      else{
        result=0;
        AddVm=0;
      }
      ExtraVm = result * 20;
      AddVm =result;
      calculate();
      setExtraVm()
    }
  }

  function extraRamPlus(){
    var result = 0;
    if(document.getElementById("extraRam").disabled == false) {
      if(parseInt(document.getElementById("extraRam").value) < 300 ){
        result = parseInt(document.getElementById("extraRam").value) + 1;
      }
      else{
        result=30;
        AddSpace=30*100;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      calculate();
      setExtraStorage()
    }
  }

  function extraVmMinusNoUser(){
    var result =0;
    if (document.getElementById("extraVmNoUser").disabled == false) {
      if(parseInt(document.getElementById("extraVmNoUser").value) > 0){
        result = parseInt(document.getElementById("extraVmNoUser").value) - 1;
          document.getElementById("extraVmNoUser").value = result;
      }
      else{
        result=0;
        AddVm=0;
      }
      ExtraVm = result * 20;
      AddVm =result;
      //calculate();
      //setExtraVm()
    }
  }

  function extraRamPlusNoUser(){
    var result = 0;
    if(document.getElementById("extraRamNoUser").disabled == false) {
      if(parseInt(document.getElementById("extraRamNoUser").value) < 300 ){
        result = parseInt(document.getElementById("extraRamNoUser").value) + 1;
          document.getElementById("extraRamNoUser").value = result;
      }
      else{
        result=30;
        AddSpace=30*100;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      //calculateNoUser();
      //setExtraStorage()
    }
  }

  function extraRamMinus(){
    var result =0;
    if(document.getElementById("extraRam").disabled == false){
      if(parseInt(document.getElementById("extraRam").value) > 0){
        result = parseInt(document.getElementById("extraRam").value) - 1;
      }
      else{
        result=0;
        AddSpace=0;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      calculate();
      setExtraStorage()
    }
  }

  function extraRamMinusNoUser(){
    var result =0;
    if(document.getElementById("extraRamNoUser").disabled == false){
      if(parseInt(document.getElementById("extraRamNoUser").value) > 0){
        result = parseInt(document.getElementById("extraRamNoUser").value) - 1;
          document.getElementById("extraRamNoUser").value = result;
      }
      else{
        result=0;
        AddSpace=0;
      }
      ExtraGb = result * 10;
      AddSpace =result * 100;
      //calculate();
      //setExtraStorage()
    }
  }

  function enableSpinners(){
    document.getElementById("extraVm").disabled = false;
    document.getElementById("extraRam").disabled = false;
  }

  function calculate (){
    var result = parseInt(License) + parseInt(Service) + parseInt(Platform) + parseInt(ExtraVm) + parseInt(ExtraGb);
    if (document.getElementById("cijena") != null) document.getElementById("cijena").innerHTML = result;
    document.getElementById("vm").innerHTML = Vm + AddVm;
    document.getElementById("space").innerHTML = Space + AddSpace;
  }

  function calculateNoUser(){
      var result = parseInt(License) + parseInt(Service) + parseInt(Platform) + parseInt(ExtraVm) + parseInt(ExtraGb);
      if (document.getElementById("cijena") != null) document.getElementById("cijena").innerHTML = result;
      document.getElementById("vm").innerHTML = Vm + AddVm;
      document.getElementById("space").innerHTML = Space + AddSpace;
  }

  function setVeaamUser(){
    if (document.getElementById("veeamUser") != null) document.getElementById("veeamUser").value = TempText.toString();
    document.getElementById("temp_veeamUser").value = TempText.toString();
  }

  function setVeeamService(){
    if (document.getElementById("veeamService") != null) document.getElementById("veeamService").value = TempText.toString();
    document.getElementById("temp_veeamService").value = TempText.toString();
  }

  function setVeeamServer(){
    if (document.getElementById("veeamServer") != null) document.getElementById("veeamServer").value = TempText.toString();
    document.getElementById("temp_veeamServer").value = TempText.toString();
  }

  function setExtraVm(){
    if (document.getElementById("veeamVmExtra") != null) document.getElementById("veeamVmExtra").value = AddVm;
    document.getElementById("temp_veeamVmExtra").value = AddVm;
  }

  function setExtraStorage(){
    if (document.getElementById("veeamStorageExtra") != null) document.getElementById("veeamStorageExtra").value = AddSpace;
    document.getElementById("temp_veeamStorageExtra").value = AddSpace;
  }

  $(document).ready(function() {

    "use strict";

    var scrollAnimationTime = 1200,
        scrollAnimation = 'easeInOutExpo';
    $('a.scrollto').bind('click.smoothscroll', function(event) {
      event.preventDefault();
      var target = this.hash;
      $('html, body').stop().animate({
        'scrollTop': $(target).offset().top
      }, scrollAnimationTime, scrollAnimation, function() {
        window.location.hash = target;
      });
    });
    //COUNTER
     $('.counter_num').counterUp({
         delay: 10,
         time: 2000
     });
  });
</script>