<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "mpr_logo.png", width: "250", style: "padding-top: 18px;" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "veeam_logo.png", width: "250" %>
      </div>
    </div>
  </div>
</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
  <div class="page-header">
    <h1><span style="color: #A9CC2D; ">CloudConnect</span> <small>Cijena usluge</small></h1>
  </div>

  <div class="container" >
    <div class="row">
      <div class="col-md-12">
    <table border="1" style="width: 75%">
      <tr>
        <th style="border-left: 0;">Services</th>
        <th style="border-left: 0; border-right: 0;"></th>
        <th style="border-right: 0;">Cijena</th>
      </tr>
      <tr>
        <td style="border-left: 0;"><%= @veeam_user %></td>
        <td style="border-left: 0; border-right: 0;"></td>
        <td align="right" style="border-right: 0;"><%= number_to_currency(@veeam_user_price, :unit => "€" ) %></td>
      </tr>
      <tr>
        <td style="border-left: 0;"><%= @service %></td>
        <td style="border-left: 0; border-right: 0;"></td>
        <td align="right" style="border-right: 0;"><%= number_to_currency(@service_price, :unit => "€" ) %></td>
      </tr>
      <tr>
        <td style="border-left: 0;"><%= @platform %></td>
        <td style="border-left: 0; border-right: 0;"></td>
        <td align="right" style="border-right: 0;"><%= number_to_currency("0", :unit => "€" ) %></td>
      </tr>
      <% unless @extra_vm.empty? %>
        <tr>
          <td style="border-left: 0;">Extra VM</td>
          <td align="right"><%= @extra_vm %></td>
          <td align="right" style="border-right: 0;"><%= number_to_currency(@extra_vm_price, :unit => "€" ) %></td>
        </tr>
      <% end %>
      <% unless @extra_storage.empty? %>
        <tr>
          <td style="border-left: 0;">Extra Storage</td>
          <td align="right"><%= @extra_storage %> GB</td>
          <td align="right" style="border-right: 0;"><%= number_to_currency(@extra_storage_price, :unit => "€" ) %></td>
        </tr>
      <% end%>
      <tr>
        <td style="border-left: 0;"></td>
        <td></td>
        <td align="right" style="border-right: 0;"><b><%= number_to_currency(@sum_price, :unit => "€" ) %></b></td>
      </tr>
    </table>
  </div>
    </div>
  </div>
  <h4>Thank you for your inquiry! We will contact you with additional information!</h4>
</div>

</body>
</html>