<!DOCTYPE html>
<html>
<head>
  <style>
    table, td, th {
      border: 1px solid #ddd;
    }

    table {
      border-collapse: collapse;
      width: 80%;
    }

    td {
      padding: 15px;
    }

    .table_padding td {
      padding: 12px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<div class="container" style="background-color: rgba(242, 242, 242, .33); padding: 0 25px;">
  <div id="header" class=" mb-4">
    <div class="row">
      <div class="col-md-6 mt-2">
        <%= image_tag('MPR.png', style: "width: auto; height: 75px;") %>
      </div>
      <div class="col-md-6 mt-2">
        <h1>MAAS360</h1>
      </div>
    </div>
  </div>
  <div id="content_box">
    <div class="row">
      <span><strong style="font-size: 1.7em;">MDM</strong><span style="font-size: 1.15em"></span></span>
    </div>
    <hr>
    <div class="row"><b><%= @user %></b>, we have received your request!</div>
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>Suite name</th>
        <th>No. of users with oe device/user</th>
        <th>No. of users with two or more devices/user </th>
        <th style="text-align: right;">Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr style="background-color: rgba(34, 168, 173, 0.20);">
        <th scope="row"><%= @package_name.blank? ? '-' : @package_name %></th>
        <td align="center"><%= @one_mobile == '0'? '-' : @one_mobile %></td>
        <td align="center"><%= @multiple_mobile == '0' ? '-' : @multiple_mobile %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td align="center"><%= number_to_currency(@price_one_mobile, unit: 'EUR/monthly', delimiter: '.', separator: ',', format: '%n %u')%></td>
        <td align="center"><%= number_to_currency(@price_multiple_mobile, unit: 'EUR/monthly', delimiter: '.', separator: ',', format: '%n %u')%></td>
        <td align="right"><b><%= number_to_currency(@price_one_mobile+@price_multiple_mobile, unit: 'EUR/monthly', delimiter: '.', separator: ',', format: '%n %u') %></b></td>
      </tr>
      </tbody>
    </table>
    <!-- <div class="row mt-3">Zahvaljujemo Vam se na Vašem upitu!</div> -->
    <!-- <div class="row">U kratkom roku će Vas kontaktirati naš agent sa ponudom kreiranom isključivo prema Vašim potrebama.</div> -->
    <hr>
  </div>
  <div id="footer" class="row mt-3">
    <span><strong style="font-size: 1.35em;">MDM - </strong><span style="color: #b2d043; font-size: 1.25em;"> MaaS360</span></span>
    <p class="mt-2">If you receive this message by mistake or it is not intended to you, do not use, copy, distribute or open attachments Delete it immediately from your computer system and notify the sender that you have done so. Thank you!
    </p>
  </div>
</div>
<script></script>
</body>
</html>