<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
  <div class="page-header">
    <h1><span style="color: #A9CC2D; ">Veeam Cloud Connect</span> <small><%= @name %></small></h1>
  </div>
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "logomail.png", width:"400px",style: "padding-top: 18px;" %>
      </div>
    </div>
  </div>
  <h4>Zahvaljujemo se na Vašem upitu. Naš cilj je odgovoriti na sva pitanja unutar jednog radnog dana.<br/>
    Uskoro će Vas kontaktirati netko iz naše službe za podršku.
  </h4>
  <hr>
  <h4  style="margin-top: 10px"><span style="color: #A9CC2D; ">Veeam Cloud Connect</span> - postanite <span style="color: #A9CC2D; ">„Always On”</span> tvrtka!</h4>
  <p></p>
  <h3>E-mail: <i><%= @email %></i></h3>
  <h3>Subject: <i><%= @subject %></i></h3>
  <h3><i><%= @body %> </i></h3>
  <br/>
  <div class="row">
    <div class="col-md-8 col-md-2">
      <small>Ako ste ovu poruku primili greškom ili vam nije namijenjena, ne koristite ju, ne kopirajte, ne distribuirajte, ne otvarajte privitke, odmah ju obrišite sa svog računalnog sustava i obavijestite pošiljatelja da ste to napravili. Hvala!</small>
    </div>
  </div>
</div>
</body>
</html>