<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="container" style="background-color: rgba(242, 242, 242, .33); padding: 0 25px;">
  <div id="header" class=" mb-4">
    <div class="row">
      <div class="col-md-6 mt-2">
        <%= image_tag('MPR.png', style: "width: auto; height: 75px;") %>
      </div>
      <div class="col-md-6 mt-2">
        <%= image_tag('maaslogoblack.png', style: "width: auto; height: 75px;") %>
      </div>
    </div>
  </div>
  <div id="content_box">
    <div class="row">
      <span><strong style="font-size: 1.7em;">MDM, </strong><span style="font-size: 1.15em"><%= @name %></span></span>
    </div>
    <hr>
    <div class="row"><strong>Zahvaljujemo se na vašem upitu!</strong>
      Naš cilj je odgovoriti na sve upite unutar jednog radnog dana. Imaje na umu da to može potrajati i duže ovisno o broju upita.</div>
    <div class="row mt-3">
      <span><strong style="font-size: 1.15em;">Email: </strong><span style="font-size: 1.15em"><%= @email %></span></span>
    </div>
    <div class="row mt-2">
      <span><strong style="font-size: 1.15em;">Predmet: </strong><span style="font-size: 1.15em"><%= @body %></span></span>
    </div>
    <div class="row mt-2">
      <span style="font-size: 1.15em"><%= @body %></span>
    </div>
    <hr>
  </div>
  <div id="footer" class="row mt-3">
    <span><strong style="font-size: 1.35em;">MDM - </strong><span style="color: #b2d043; font-size: 1.25em;"> MaaS360</span></span>
    <p class="mt-2">Ako ste ovu poruku primili greškom ili vam nije namijenjena, ne koristite ju, ne kopirajte, ne distribuirajte, ne otvarajte privitke, odmah ju obrišite sa svog računalnog sustava i obavijestite pošiljatelja da ste to napravili. Hvala!</p>
  </div>
</div>
<script></script>
</body>
</html>