<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="container" style="background-color: rgba(242, 242, 242, .33); padding: 0 25px;">
  <div id="header" class=" mb-4">
    <div class="row">
      <div class="col-md-6 mt-2">
        <%= image_tag('MPR.png', style: "width: auto; height: 75px;") %>
      </div>
      <div class="col-md-6 mt-2">
        <%= image_tag('iconsIBM/oblak_crni.svg', style: "width: auto; height: 75px;") %>
      </div>
    </div>
  </div>
  <div id="content_box">
    <div class="row">
      <span><strong style="font-size: 1.7em;">QRadar, </strong><span style="font-size: 1.15em"><%= @name %></span></span>
    </div>
    <hr>
    <div class="row"><strong>Thank you for your question!</strong>
      Our goal is to respond to all queries within one business day. Keep in mind that this may take longer depending on the number of queries.
    </div>
    <div class="row mt-3">
      <span><strong style="font-size: 1.15em;">Email: </strong><span style="font-size: 1.15em"><%= @email %></span></span>
    </div>
    <div class="row mt-2">
      <span><strong style="font-size: 1.15em;">Subject: </strong><span style="font-size: 1.15em"><%= @body %></span></span>
    </div>
    <div class="row mt-2">
      <span style="font-size: 1.15em"><%= @body %></span>
    </div>
    <hr>
  </div>
  <div id="footer" class="row mt-3">
    <span><strong style="font-size: 1.35em;">MEGATREND - </strong><span style="color: #b2d043; font-size: 1.25em;"> QRadar</span></span>
    <p class="mt-2">If you receive this message by mistake or it is not intended to you, do not use, copy, distribute or open attachments Delete it immediately from your computer system and notify the sender that you have done so. Thank you!
    </p>
  </div>
</div>
<script></script>
</body>
</html>