<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "mpr_logo.png", width: "250", style: "padding-top: 18px;" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "veeam_logo.png", width: "250" %>
      </div>
    </div>
  </div>
</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
  <div class="page-header">
    <h1><span style="color: #A9CC2D; ">CloudConnect</span> <small><%= @name %></small></h1>
  </div>
  <h4>Zahvaljujemo se na vašem upitu! Naš cilj je odgovoriti na sve upite u roku 1 radnog dana. Imajte na umu da to može potrajati i duže ovisno o broju upita.</h4>

  <p></p>
  <h3>E-mail: <i><%= @email %></i></h3>
  <h3>Subject: <i><%= @subject %></i></h3>
  <h3><i><%= @body %> </i></h3></h4>
</div>
</body>
</html>