<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
  <div class="page-header">
    <h1><span style="color: #A9CC2D; ">Veeam Cloud Connect</span> <small><%= @email %></small></h1>
  </div>
  <div class="container" style="margin-top: 30px">
    <div id="header" class=" mb-4">
      <div class="row">
        <div class="col-md-6 mt-2">
          <%= image_tag('MPR.png', style: "width: auto; height: 75px;") %>
        </div>
        <div class="col-md-6 mt-2">
          <h1>MAAS360</h1>
        </div>
      </div>
    </div>
    <h3 style="margin-top:25px; margin-bottom:25px;">Mail za kontakt i upite:<span> <%= mail_to "mdm@megatrend.com" %></span></h3>
  </div>
  <div style="margin-top: 15px">
  <h4>Poslan je Vaš upit za besplatnom probom! Kontaktirati ćemo vas sa dodatnim informacijama.</h4>
  </div>
  <h3 style="margin-top:25px; margin-bottom:25px;">Mail za kontakt i upite:<span> <%= mail_to "mdm@megatrend.com" %></span></h3>
  <hr>
  <span><strong style="font-size: 1.35em;">MDM - </strong><span style="color: #b2d043; font-size: 1.25em;"> MaaS360</span></span>
</div>
</body>
</html>