<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <div class="container" style="margin-top: 30px">

  </div>
</head>
<body>
<div class="container" style="background-color: rgba(242, 242, 242, .33); padding: 0 25px;">
  <div id="header" class=" mb-4">
    <div class="row">
      <div class="col-md-6 mt-2">
        <%= image_tag('MPR.png', style: "width: auto; height: 75px;") %>
      </div>
      <div class="col-md-6 mt-2">
        <h1>MAAS360</h1>
      </div>
    </div>
  </div>
  <div id="content_box">
    <div class="row">
      <span><strong style="font-size: 1.7em;">Welcome to MDM,</strong><span style="font-size: 1.15em"> <%= @user.email %></span></span>
    </div>
    <hr>
    <div class="row">Registration successful!</div>
    <h4 class="row mt-3">mdm.megatrend.com</h4>
    <div class="row mt-4">Login email: </div>
    <div class="card mt-1">
      <div class="card-block">
        <strong><p class="card-text" style="color: #22a8ad;"><%= @user.email %></p></strong>
      </div>
    </div>
    <div class="row mt-2">Password:</div>
    <div class="card mt-1">
      <div class="card-block">
        <strong><p class="card-text" style="color: #22a8ad;"><%= @generated_password %></p></strong>
      </div>
    </div>
    <div class="row mt-3">To log in just follow this link: <%= link_to 'Click to login' , 'http://mdm.megatrend.com/hr/users/sign_in'%></div>
    <div class="row">Thank you for the registration!</div>
    <hr>
  </div>
  <div id="footer" class="row mt-3">
    <span><strong style="font-size: 1.35em;">MDM - </strong><span style="color: #b2d043; font-size: 1.25em;"> MaaS360</span></span>
    <p class="mt-2">If you receive this message by mistake or it is not intended to you, do not use, copy, distribute or open attachments Delete it immediately from your computer system and notify the sender that you have done so. Thank you!</p>
  </div>
</div>
<script></script>
</body>
</html>