<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "mpr_logo.png", width: "250", style: "padding-top: 18px;" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "veeam_logo.png", width: "250" %>
      </div>
    </div>
  </div>
</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
<div class="page-header">
  <h1>Dobro došli na <span style="color: #A9CC2D; ">Cloud Connect</span></h1>
</div>

  <h3>Uspješno ste se registrirali na stranicu </h3><h2><%= link_to "cc.megatrend.com" , "localhost:3000" %></h2>
  <br>
  <h3>Vaši pristupni podaci su: </h3><br>
<div class="container" >
  <div class="row" >
    <div class="col-md-4">
      <div class="well">
        <h4>E-mail: <span><%= @user.email%></span></h4>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-4">
      <div class="well">
        <h4>Password: <span><%= @generated_password %></span></h4>
      </div>
    </div>
  </div>
</div>

<h4>
  Da bi se prijavili na stranicu samo pratite ovaj link: <%= "- tu ce biti link na login -" %>.
</h4>
  <hr>
<h4  style="margin-top: 10px"><span style="color: #A9CC2D; ">Cloud Connect</span> - postanite <span style="color: #A9CC2D; ">„Always On”</span> tvrtka!</h4>
</div>
</body>
</html>