<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <div class="container" style="margin-top: 30px">

  </div>
</head>
<body>
<div class="container">
<h3>Korisnik <%= @user.email %> se registrirao na stranicu QRadar te je zainteresiran za probu, cijenu ili oboje</h3>
<p>Ime i prezime: <b><%= @user.first_name+" "+@user.last_name %></b></p>
<p>Broj mobitela/telefona: <b><%= @user.phone %></b></p>
<p>Država: <b><%= @user.country %></b></p>
<p>Grad: <b><%= @user.city %></b></p>
<p>Adresa: <b><%= @user.address %></b></p>
<p>Poštanski broj: <b><%= @user.postal_code %></b></p>
<p>Tvrtka: <b><%= @user.company %></b></p>
<p>OIB: <b><%= @user.cin %></b></p>
<p>Komentar: <b><%= @user.comment %></b></p>
</div>
</body>
</html>