<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<div class="container" style="margin-top: 5px">
  <div class="page-header">
    <h1 style="white-space: nowrap;"><span style="color: #A9CC2D; ">Veeam Cloud Connect</span> <small><%= @user.email%></small></h1>
  </div>
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "logomail.png", width:"400px",style: "padding-top: 18px;" %>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1>Vaša lozinka je resetirana, <small><%= @user.email%></small></h1>
  </div>

  <h3>Vaša nova lozinka je: </h3><br>
  <div class="container" >
    <div class="row" >
      <div class="col-md-4">
        <div class="well">
          <h4><%= @generated_password %></h4>
        </div>
      </div>
    </div>
  </div>

  <h4>
    Da bi se prijavili na stranicu kliknite na link:<br/>
    <%= link_to "Prijava", "http://cc.megatrend.com/hr/users/sign_in" %>.
  </h4>
  <hr>
  <h4  style="margin-top: 10px"><span style="color: #A9CC2D; ">Cloud Connect</span> - postanite <span style="color: #A9CC2D; ">„Always On”</span> tvrtka!</h4>
  <br/>
  <div class="row">
    <div class="col-md-8 col-md-2">
      <small>If you have received this message in error or it is not intended to you, do not use it, do not copy, distribute, do not open attachments, immediately delete it from your computer system and notify the sender that you do it. Thank you!</small>
    </div>
  </div>
</div>
</body>
</html>