<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">

    <div class="container home-container">

      <div class="row">
        <div class="col-md-12">

          <div class="logo text-center">
            <!-- LOGO -->
            <%= image_tag("logo.png", width: "350") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sky-form"}) do |f| %>
              <header><%= t(".login") %></header>

                  <fieldset>

                    <section>
                      <div class="row">
                        <label class="label col col-4 skylabel">E-mail</label>
                        <div class="col col-8">
                          <%= alert %>
                          <%= notice %>
                          <label class="input">
                            <i class="icon-append icon-user"></i>
                            <div class="field">
                              <%= f.email_field :email, placeholder: t(".email"), autofocus: true %>
                            </div>
                          </label>
                        </div>
                      </div>
                    </section>

                    <section>
                      <div class="row">
                        <label class="label col col-4 skylabel"><%= t(".password") %></label>
                        <div class="col col-8">
                          <label class="input">
                            <i class="icon-append icon-lock"></i>
                            <%= f.password_field :password, placeholder: t(".password"), autocomplete: "off" %>
                          </label>
                        </div>
                      </div>
                    </section>

                    <section>
                      <div class="row">
                        <div class="col col-4"></div>
                        <div class="col col-8">

                            <% if devise_mapping.rememberable? -%>
                              <label class="checkbox" >
                            <%= f.check_box :remember_me, type: :check_box,label: false %><i style="height: 20px!important; width:20px!important;"></i><%= t(".remember") %>
                              </label>
                            <% end -%>

                        </div>
                      </div>

                    </section>
                  </fieldset>
                  <footer>
                    <div class="actions">
                    <%= f.submit t(".login_button"), class: "button" %>
                    <%= link_to t(".back"), root_path, class: "button" %>
                    </div>
                    <%= render "users/shared/links" %>
                  </footer>
              <% end %>

        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
          <div class="home-iphone">
            <%= image_tag("qradarlogo2.png", :alt => "maas360") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


