<!DOCTYPE html>
<html>
<head>
  <title>CloudConnect</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic',media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--
<% if user_signed_in? %>
  <%= t ".welcome_text"+current_user.email %>
<p>
  <%= link_to t(".sign_out"), destroy_user_session_path %>
</p>
<% else %>
  <%= link_to t(".sign_in"), new_user_session_path %>
<% end %>
-->
<%= yield %>

</body>

</html>
