<!DOCTYPE html>
<html>
<head>
  <title>CloudConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= notice %></p>
<p><%= alert %></p>
<% if user_signed_in? %>
  <%= "Bok "+current_user.email %>
<p>
  <%= link_to "Odjavi se", destroy_user_session_path %>
</p>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<%= yield %>

</body>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to "Admin", admin_root_path %>
  <% end %>
<% end %>
</html>
