<!DOCTYPE html>
<html>
    <!--
   ____           _                ____          _            _
  / ___|__ _  ___| |_ _   _ ___   / ___|___   __| | ___    __| |  ___   ___
 | |   / _` |/ __| __| | | / __| | |   / _ \ / _` |/ _ \  / _` | / _ \ / _ \
 | |__| (_| | (__| |_| |_| \__ \ | |__| (_) | (_| |  __/ | (_| || (_) | (_) _
  \____\__,_|\___|\__|\__,_|___/  \____\___/ \__,_|\___|  \__,_(_\___(_\___(_)

-->
<head>
  <title>Cloud Connect</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic',media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon/apple-icon-57x57.png", rel:"apple-touch-icon", sizes:"57x57"  %>
  <%= favicon_link_tag "favicon/apple-icon-60x60.png", rel:"apple-touch-icon", sizes:"60x60" %>
  <%= favicon_link_tag "favicon/apple-icon-72x72.png", rel:"apple-touch-icon", sizes:"72x72"  %>
  <%= favicon_link_tag "favicon/apple-icon-76x76.png", rel:"apple-touch-icon", sizes:"76x76"  %>
  <%= favicon_link_tag "favicon/apple-icon-114x114.png", rel:"apple-touch-icon", sizes:"114x114"  %>
  <%= favicon_link_tag "favicon/apple-icon-120x120.png", rel:"apple-touch-icon", sizes:"120x120"  %>
  <%= favicon_link_tag "favicon/apple-icon-144x144.png", rel:"apple-touch-icon", sizes:"144x144"  %>
  <%= favicon_link_tag "favicon/apple-icon-152x152.png",rel:"apple-touch-icon", sizes:"152x152"  %>
  <%= favicon_link_tag "favicon/apple-icon-180x180.png", rel:"apple-touch-icon", sizes:"180x180"  %>
  <%= favicon_link_tag "favicon/android-icon-192x192.png", rel:"icon" ,type:"image/png", sizes:"192x192"   %>
  <%= favicon_link_tag "favicon/favicon-32x32.png" , rel:"icon" ,type:"image/png", sizes:"32x32" %>
  <%= favicon_link_tag "favicon/favicon-96x96.png", rel:"icon", type:"image/png", sizes:"96x96"  %>
  <%= favicon_link_tag "favicon/favicon-16x16.png", rel:"icon", type:"image/png", sizes:"16x16"  %>
  <%= favicon_link_tag  "favicon/manifest.json", rel:"manifest"%>
  <meta name="msapplication-TileColor" content="#ffffff" >
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff" >
</head>
<body>
<%= render 'cookies_eu/consent_banner' %>
<!--
<% if user_signed_in? %>
  <%= t ".welcome_text"+current_user.email %>
<p>
  <%= link_to t(".sign_out"), destroy_user_session_path %>
</p>
<% else %>
  <%= link_to t(".sign_in"), new_user_session_path %>
<% end %>
-->
<%= yield %>

</body>

</html>
