
<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">

    <div class="container home-container">

      <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">

          <div class="logo text-center">
            <!-- LOGO -->
            <%= image_tag("logo.png", width: "300") %>
            <%= image_tag("qradarlogo2.png", :alt => "maas360", width: "180", style: "padding-left: 10px") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12" style="padding-bottom: 20px;">


            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "sky-form"}) do |f| %>
                <header><%= t(".form") %></header>

                <fieldset>

                  <section class="row">
                    <section class="col col-6">
                      <%= f.error_notification %>
                      <label class="input">
                        <i class="icon-append icon-user"></i>
                        <%= f.input :first_name, placeholder: t(".fname"),label: false, required: true %>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-append icon-user"></i>
                        <%= f.input :last_name, placeholder: t(".lname"), label: false, required: true %>
                      </label>
                    </section>
                  </section>

                  <section class="row">
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-append icon-building"></i>
                        <%= f.input :company, placeholder: t(".company"), label: false, required: true %>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input">
                        <i class="icon-append icon-legal"></i>
                        <%= f.input :cin, placeholder: t(".cin"), label: false, required: true %>
                      </label>
                    </section>
                  </section>

                  <section>

                    <label class="input">
                      <i class="icon-append icon-envelope-alt"></i>
                      <%= f.input :email, placeholder: "E-mail", label: false, required: true %>
                    </label>
                  </section>

                  <section>

                    <label class="input">
                      <i class="icon-append icon-phone"></i>
                      <%= f.input :phone, placeholder: t(".phone"), label: false, required: true %>
                    </label>
                  </section>

                </fieldset>

                <fieldset>

                  <div class="row">
                    <section class="col col-4">
                      <label class="select">
                        <%= f.input :country, placeholder: t(".country"), as: :country,:priority => ["HR"], label: false %>
                        <i></i>
                      </label>
                    </section>

                    <section class="col col-4">
                      <label class="input">
                        <%= f.input :city, placeholder: t(".city"), label: false, required: true %>
                      </label>
                    </section>

                    <section class="col col-4">
                      <label class="input">
                        <%= f.input :postal_code, placeholder: t(".postal"), label: false, required: true %>
                      </label>
                    </section>
                  </div>

                  <section>
                    <label for="file" class="input">
                      <%= f.input :address, placeholder: t(".address"), label: false, required: true %>
                    </label>
                  </section>

                  <div class="row">
                    <section class="col col-12">
                      <%= f.label :veeam_user do%>
                        <div style="padding-right: 20px; font-size: 120%;">
                            <%= t(".veeam_user_html") %>
                          </div>
                      <% end %>

                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-12">
                      <%= f.label t(".trial"), style: "padding-right: 34px; font-size: 120%;" %>
                      <%= f.collection_radio_buttons :veeam_user,[[true, t(".yes_indicator")], [false, t(".no_indicator")]], :first, :last, input_html: {required: true}, item_wrapper_tag: "radio_wrapper_tag",item_wrapper_class: "radio_button_wrapper", :checked => :false %>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-12">
                      <%= f.label t(".offer"), style: "padding-right: 20px; font-size: 120%;" %>
                      <%= f.collection_radio_buttons :offer_interest,[[true, t(".yes_indicator")], [false, t(".no_indicator")]], :first, :last, input_html: {required: true}, item_wrapper_tag: "radio_wrapper_tag",item_wrapper_class: "radio_button_wrapper", :checked => :false %>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-12">
                        <%= f.input :comment, placeholder: t(".comment"), label: false, input_html: {class: 'form-control', style: 'min-width: 500%; min-height: 100px; padding-left: 8px; padding-top: 3px;'} %>
                    </section>
                  </div>

                  <div class="row">
                  <section class="col col-12">
                  <%= flash[:recaptcha_error] %>
                  <%= recaptcha_tags %>
                  </section>
                  </div>
                </fieldset>
                <footer>
                  <div class="form-actions">
                    <%= f.button :submit, t(".signup") , class: "button"%>
                    <%= link_to t(".back"), root_path, class: "button" %>
                  </div>
                  <%= render "users/shared/links" %>
                </footer>
            <% end %>



        </div>

      </div>
    </div>
  </div>
</section>
    <!-- Modal content -->








